[2015-03-20 11:35] slowkow opened #1 "github permissions"
When I clicked "sign up", I got this:

[code]

The [privacy policy](http://astralapp.com/privacy/) suggests that these permissions are not needed. Are they needed in order to un-star a repo?

I suspect that astral is asking for too many permissions. I was under the impression that astral would use the github API to retrieve stars like this:

https://api.github.com/users/syropian/starred

Does astr

[2015-03-20 11:59] syropian commented on #1
Astral needs write permission to unstar repositories. Unfortunately I don’t have fine grain control over these permissions. One of my first priorities once I finish open sourcing is to rewrite the auth engine to be more opt-in, so for instance by default you can’t unstar repos unless you give Astral _additional_ access.

[2015-03-20 11:59] #1 closed

[2015-03-31 13:25] syropian opened #2 "Unstaring from the app doesn't always remove from the list."
_From @syropian on November 21, 2014 19:50_

Sometimes it does, sometimes it doesn't. Race condition?

_Copied from original issue: syropian/astral-issues#5_

[2015-03-31 13:26] syropian opened #3 "CSS sucks"
_From @pcperini on November 24, 2014 15:38_

Just a small CSS scrolling issue.
![screen shot 2014-11-24 at 10 37 29 am](https://cloud.githubusercontent.com/assets/656243/5167407/f95b8b5a-73c5-11e4-881d-8efcc8882fc4.png)

_Copied from original issue: syropian/astral-issues#8_

[2015-03-31 13:26] syropian commented on #3
Wahh, how did you do this?

[2015-03-31 13:26] syropian commented on #3
_From @pcperini on November 26, 2014 15:44_

Nav'd to Astral, scrolled horizontally. I think the description was too long, horizontally.

[2015-03-31 13:26] syropian opened #4 "This isn't markdown, it's reStructuredText"
_From @evaryont on November 25, 2014 6:33_

https://github.com/audreyr/favicon-cheat-sheet doesn't use markdown nor plain-text for it's README, and therefore doesn't render properly.

However, it's still pretty close:

![astral_rendering_rst_as_md](https://cloud.githubusercontent.com/assets/14547/5178893/50b38bac-7432-11e4-8fc2-bf98815e6b72.PNG)

_Copied from original issue: syropian/astral-issues

[2015-03-31 13:26] syropian commented on #4
Hm, this seems pretty edge-casey. I'm going to mark as mightfix, if this comes up frequently.

[2015-03-31 13:26] syropian commented on #4
_From @evaryont on November 25, 2014 20:24_

Github handles this with their own library, [Markup](https://github.com/github/markup). You might be able to use it to render all of the supported README formats. (Assuming Astral is written in Ruby, anyways.)

[2015-03-31 13:26] syropian commented on #4
@evaryont It's definitely not written in Ruby :)

[2015-03-31 13:26] syropian opened #5 "Chrome plugin"
_From @jpardogo on November 25, 2014 12:19_

Chrome plugin to tag directly from GitHub when you start a project

_Copied from original issue: syropian/astral-issues#14_

[2015-03-31 13:26] syropian opened #6 "Support Textile"
_From @pgaspar on November 25, 2014 14:53_

Like this repo: https://github.com/mdeering/attribute_normalizer

_Copied from original issue: syropian/astral-issues#15_

[2015-03-31 13:26] syropian commented on #6
Like issue #13, I'm going to add this to mightfix. It's pretty uncommon, but if it start's to crop up more and more, I'll try and work something out.

[2015-03-31 13:26] syropian opened #7 "Add support for Gists"
_From @irace on November 25, 2014 20:17_

Gists can be starred too! It'd be great to have them pulled into Astral as well.

_Copied from original issue: syropian/astral-issues#16_

[2015-03-31 13:26] syropian opened #8 "Keyboard shortcuts"
_From @irace on November 25, 2014 20:17_

It'd be great to be able to navigate the Astral UI and apply tags using keyboard shortcuts. One low-hanging fruit shortcut would be tapping enter to save and dismiss the tag popover.

_Copied from original issue: syropian/astral-issues#17_

[2015-03-31 13:26] syropian commented on #8
@irace Hitting enter now saves the tags and dismisses the popover :+1:

[2015-03-31 13:26] syropian opened #9 "Ability to search your tag names"
_From @irace on November 25, 2014 20:24_

_Copied from original issue: syropian/astral-issues#20_

[2015-03-31 13:27] syropian opened #10 "Favourites or "stick to top" items inside a tag"
_From @jpardogo on November 25, 2014 20:50_

_Copied from original issue: syropian/astral-issues#22_

[2015-03-31 13:27] syropian commented on #10
yo dawg i heard u like stars so ima let you star your star so u can star while u star

[2015-03-31 13:27] syropian commented on #10
_From @jpardogo on November 26, 2014 0:23_

hahaha yes. It would be cool to have for example in android:
- Projects with the tag Plugins.
- Inside this tag you can favourite or stick to the top the plugins you use use the most.

[2015-03-31 13:28] syropian opened #11 "Limit permissions"
_From @akerl on November 21, 2014 16:44_

There should be an option to not give it full write access to all my public repos. I'm totally OK with losing the ability to unstar from the app; I'm not OK giving a 3rd party tool the ability to do whatever it wants to my repos.

_Copied from original issue: syropian/astral-issues#2_

[2015-03-31 13:28] syropian commented on #11
It's not possible to give a specific scope to individual users. I realize you may not want to unstar repos, but other people may want to. Until GitHub releases more refined scopes, there's nothing I can do.

[2015-03-31 13:28] syropian commented on #11
_From @akerl on November 21, 2014 20:43_

I totally understand if you chose not to support different scopes, but it is possible. For an example of that kind of user authorization, check out Gemnasium. They allow you to select from 3 levels of permissions, depending on what you want them to do for you / what access you want to give them

[2015-03-31 13:28] syropian commented on #11
@akerl Hm, that's interesting. I'm not sure how they pulled that off, but I'll look into seeing if I can add something similar.

[2015-03-31 13:28] syropian commented on #11
_From @akerl on November 21, 2014 22:18_

Given that the requested scopes are chosen when you do an individual auth dance, I expect that's how they're doing it. In their UI, you pick which level you want, it tosses you to GitHub's site to confirm you want them to have that access, and then you get tossed back to Gemnasium. What scopes they ask for from you are directly based on which level you pic

[2015-03-31 13:28] syropian commented on #11
_From @radum on December 11, 2014 15:19_

:+1: for what @akerl is saying, giving full permissions to the repos I think is a bit to much, for me at least it is a major security issue and I would gladly chose another level even if it won't give me the same `experience`.

[2015-03-31 13:28] syropian commented on #11
@akerl @radum This may be added but probably not for a while. As of right now, I'd have to likely swap out the entire OAuth package that I'm using, and I'm unsure if any others support this kind of scope switching. For now, please refer to the privacy policy if you are unsure what this app does or does not access.

[2015-03-31 13:28] syropian commented on #11
_From @akerl on December 11, 2014 22:35_

The privacy policy tells me what you say you'll do. If something different happens, I get to point and shout and make a fuss, but policy does not actually prevent foul play.

Even assuming you mean what you say in the privacy policy, and you never waver from that, if somebody compromises your systems, they are unlikely to share your convictions.

I presume

[2015-03-31 13:28] syropian commented on #11
@akerl Not exactly. The OAuth package supports scopes obviously, but not at the user level. Instead it's a global config option.

How exactly would I set the correct scope for a user, given that a user isn't authenticated in the system until they've already authenticated through GitHub?

[2015-03-31 13:28] syropian opened #12 "Ability to edit tag directly at the tag list column"
_From @enginebai on January 20, 2015 1:7_

Hi, is it possible edit the tag directly at the tag list column?? Thanks.
![2015-01-20 8 59 38](https://cloud.githubusercontent.com/assets/3387462/5810575/a000a794-a083-11e4-946c-7da3119d2322.png)

_Copied from original issue: syropian/astral-issues#26_

[2015-03-31 13:28] syropian commented on #12
_From @thasmo on January 23, 2015 22:5_

Double-click or long-press would be nice.

[2015-03-31 13:28] syropian commented on #12
Been thinking of a nice way to do this without cluttering the UI. Double-click would be fine, but non-obvious for a lot of people.

[2015-03-31 13:28] syropian opened #13 "Dropping Repositories on Tags doesn't work in Firefox"
_From @thasmo on January 23, 2015 22:32_

I can drag and drop repositories on tags and it adds the tag to the repository, but afterwards it shows a blank page in Firefox. When reloading, the repository has been tagged.

_Copied from original issue: syropian/astral-issues#27_

[2015-03-31 13:28] syropian commented on #13
Whoa yep, just confirmed that. I'll look into it. For now you can use the tag editor in the right panel (I know it's a little slower, sorry!)

[2015-03-31 13:28] syropian opened #14 "Ability To Share My Tags?"
_From @Gerst20051 on January 30, 2015 0:20_

@syropian is this on the radar?

_Copied from original issue: syropian/astral-issues#29_

[2015-03-31 13:28] syropian commented on #14
Yep, definitely on my radar, just hoping to squash a few bugs and UX problems first, and then I can move on to more features :)

[2015-03-31 13:28] syropian commented on #14
_From @hlfcoding on March 11, 2015 8:45_

In the meantime, you can run script below in the console directly in the app.
[code]
If you don't mind bookmarklets, there's also tools like, which will at least simplify part of the above: http://medialab.github.io/artoo. Anyway, the above allows finding repos by multiple tags, currently not possible in the app:
[code]

[2015-03-31 13:28] syropian opened #15 "Dropping dragged repository into the label of the tag doesn't work"
_From @fredshonorio on January 30, 2015 11:6_

That's it: in the tag list, dropping doesn't work if you drop on top of the name label or the repository count for a tag.

_Copied from original issue: syropian/astral-issues#30_

[2015-03-31 13:29] syropian opened #16 "Add a reset button within search input to reset results"
_From @joseluisq on December 4, 2014 21:10_

Hi, Is it possible to add a button within input search to reset results?
Here a simple mock up for this enhancement.

![](http://i.snag.gy/IiWOx.jpg)

Regards.

_Copied from original issue: syropian/astral-issues#24_

[2015-03-31 13:29] syropian commented on #16
:+1:

[2015-03-31 17:49] CrystalDave opened #17 "Able to duplicate tags"
Currently, I have an older "Tool" tag, and the newer, crowdsourced "Tools" tag. I wanted to merge them, so I tried renaming "Tool" to "Tools", figuring that worst-case, it'd pop up an error message and I'd have to do so manually.

Instead, now there's two different "Tool" tags. Ideally (in my mind, at least), it'd detect the overlap and offer to merge the tags.

[2015-03-31 20:27] joseluisq commented on #16
:+1:

[2015-04-03 14:28] syropian commented on #17
I think instead of merging functionality, simply having multi-select (with select all etc.) would make this kind of thing easier.

[2015-05-12 20:03] desmondmorris commented on #14
+1

[2015-05-12 20:04] smithln commented on #14
+1

[2015-05-12 21:12] syropian commented on #14
@desmondmorris @smithln Thanks you two! This will be implemented in the rewrite :)

[2015-05-18 04:19] hlfcoding commented on #14
Thanks for implementing! :+1:

[2015-06-02 20:27] MethodGrab commented on #11
+1 for this, full R/W access is a bit much! You don't even need to be authenticated to get a users list of starred repos, its available [publicly](https://developer.github.com/v3/activity/starring/#list-repositories-being-starred) by doing
[code]

eg:
[code]

They way I see it working would be:
- User initiates sign up
- Request for minimal [scope](https://developer.github.com/v3/oauth/#scopes), s

[2015-06-03 11:23] maxailloud commented on #12
Maybe a button on the top list to make the list in edition mode, and then you can edit/delete tag.
And in edition mode you can add a checkbox in front of each tag to allow mass deletion.

[2015-06-03 11:24] maxailloud commented on #16
:+1:

[2015-06-18 15:38] dizballanze opened #18 "Add bitbucket?"
How about to add watched repositories from bitbucket?

[2015-06-18 15:49] dizballanze opened #19 "Repositories caching"
Please, add caching to not loading all repositories every time you open app.
I think, It would be convenient to reload repositories list on demand.

[2015-07-08 10:09] zckrs opened #20 "Signin in: Error 500"
[code]

Can you help me ^^' ?

[2015-07-08 11:30] syropian commented on #20
Our server provider is currently performing some maintenance and site availability will be intermittent for a few hours. For these kind of errors please ping the twitter account @astralapp or shoot an email to hello@astralapp.com. Thanks!

[2015-07-08 11:38] #20 closed

[2015-07-08 11:39] syropian commented on #19
Better caching is definitely a major priority of the rewrite.

[2015-07-09 13:52] qguv opened #21 "Tag descriptions"
It's hard to keep track of the meaning of tags. I have a tag "api" that means "api for a thing that I use regularly or own and may want to use in the future". A good balance between long, annoying to type tag names and short, concise tag names would be short keyword-style tag names with descriptions.

It should just be another database and input field, and the logic to connect the two. I'm happy t

[2015-07-09 13:59] syropian commented on #21
@qguv Thanks, that sounds like a pretty good idea. I'm indeed not accepting PR's right now, as I'm working on a complete rewrite of the whole app. Depending on how much time I have, I'll either add this to the existing app, or just wait for the rewrite. I like the idea though!

[2015-07-22 04:38] solygen commented on #12
Small edit icon that is shown for each tag only on hover. Perhaps positioned on the left of the badge/count.

[2015-10-08 13:50] rpowis opened #22 "Link to github repo from the website"
To make it easier for people to report issues and contribute :)

[2015-10-08 13:55] syropian commented on #22
Thanks! I will certainly be doing this when v2 beta is released.

[2015-10-08 14:16] rpowis commented on #22
Cool! Look forward to it. In the meantime I'm keen to help out as per the README's Todo section

[2015-10-08 14:23] syropian commented on #22
@rpowis Thanks! I'm currently rewriting a bunch of the core stuff (I found trying to simply upgrade to L5 was causing me to frankenstein things), and I'm also planning to move the whole front-end away from Angular to RiotJS. The current state of this repo is fairly out of date at the moment, but I plan on getting the WIP pushed up here soon. Once that's done I'd love any help you're willing to spa

[2015-10-08 14:25] rpowis commented on #22
Sure! Sounds good. Perhaps setting up a [gitter.im](https://gitter.im/) room (and adding the badge to the README) might help with throwing ideas around?

[2015-10-08 14:48] syropian commented on #22
@rpowis For sure, I set up a Gitter room just now :)

[2015-10-09 18:30] pfalcon commented on #14
Ok, in the current https://app.astralapp.com/ , there's Settings -> "ENABLE CROWSOURCED TAGGING BETA". But after enabling it, I don't see any changes in my tags. I have 2+K stars projects in my starred, so I'd assume at least one would be tagged, if Astralall has any userbase at all. So, how is that supposed to work?

[2015-10-09 18:31] syropian commented on #14
@pfalcon Unfortunately it doesn't always work, as it hits the servers really hard. I'm hoping to write a better solution in the future, though i'm not quite sure what it is yet.

[2015-10-09 18:38] syropian commented on #14
@pfalcon you could try refreshing though.

[2015-10-09 18:48] pfalcon commented on #14
Thanks for hint, after couple of page reloads, seeing "Crowd-tagging Stars..." progress indicator...

[2015-10-09 20:56] pfalcon commented on #14
... but nothing happened after 2 hours of waiting (but then I have 700+ starred projects, which probably on a higher side).

[2015-10-09 23:09] Gerst20051 commented on #14
same thing here. just a loading indicator.

[2015-10-10 01:22] syropian commented on #14
The server probably just gave up at this point ¯\_(ツ)_/¯

Sent from my iPhone

[2015-10-10 03:35] Gerst20051 commented on #14
love that emoticon!!

[2015-10-14 02:27] syropian opened #24 "Convert all CoffeeScript to ES6"
To encourage more contributions from other developers, all CoffeeScript should be converted to ES6.

[2015-10-15 00:02] syropian commented on #24
Fixed in https://github.com/astralapp/astral/commit/859a989a07e402b0960e96f4d92d67f73bd1a7a4.

[2015-10-15 00:02] #24 closed

[2015-11-16 05:26] afaqurk commented on #11
:+1: @MethodGrab 's concept.

[2015-11-25 11:16] troglotit opened #27 "Unsuccessful "Edit Tags" moves repository outfrom "Untagged Stars""
It would be great if repository moves out from "Untagged Stars" _only_ with existing tags (i.e. after successful tagging), otherwise some repository could be lost between tags.

[2016-01-11 08:41] quantumpacket commented on #11
@syropian Is there any update on this? I want to use the app, but was shocked to see that it requires the most expansive permissions. The above suggestion would be ideal.

[2016-01-18 19:52] syropian commented on #11
@quantumpacket This is something that will (hopefully) be a part of v2. If I can't get scope "upgrading" to work, I'll temporarily remove unstarring and minimize the permissions. I know it sucks, and hopefully I can figure out something.

The current problem is, with many OAuth libs, scope is decided pre-authentication, which makes it very difficult to do on a per-user basis.

[2016-02-11 10:13] NexZhu opened #28 "Search with a combination of multiple tags or keywords"
I love this app a lot, thank you @syropian for creating it!
But I think it will be much, much more useful if one can search with a combination of multiple tags or keywords.
I'd like to help but unfortunately I'm not familiar with either PHP or Vue.js :frowning:
Hopefully this will get implemented.

For those who want to do advanced searching now, I wrote a bookmarklet:

I used codes from here
http

[2016-02-11 13:07] syropian commented on #28
@nexzhu You can already do this by splitting your terms with `:` in the search box. Eg. `#javascript:#node:some string`.

[2016-02-11 13:08] #28 closed

[2016-02-11 16:20] NexZhu commented on #28
@syropian Great! There could be an instruction for that in the readme or somewhere though. I've tried with space and comma as the delimiter and haven't had any luck so I thought it was not supported.

[2016-02-11 17:04] syropian commented on #28
@NexZhu Yeah it's a bit of a hidden feature atm, going to look into adding something to hint it in v2

[2016-03-21 05:49] chinesedfan opened #29 "Hide the box if anywhere else were clicked"
If you click `Edit Tags`, a box will be shown. And it keeps there until `Edit Tags` is clicked again.

[2016-05-20 13:48] YerkoPalma opened #30 "Expose a public API"
A public REST API would be awesome, and would be helpful for many things. It would help to create different clients. If you build a [chrome extension](https://github.com/astralapp/astral/issues/5) (extension that I'm waiting for long time ago :smile:), or even a mobile app (Github has no official mobile app, so astral app would definitly fill a void there).

It would also help for other developers

[2016-05-20 22:47] syropian opened #31 "Looking For Core Team Members with Awesome Laravel/PHP Chops"
Hi! I'm **Syropian**, the creator of Astral.

I'm currently looking for one or more awesome Laravel developers who can contribute a few hours a week improving Astral's backend code. Though I know my way around Laravel for the most part, as a full-time front end developer, my strengths lie in that realm, and there are much more talented Laravel devs that could really make Astral's backend a lot bet

[2016-05-20 22:58] syropian commented on #30
I definitely want to build a solid API, but I'll be looking for a more experienced developer to join the core team first. I'm slowly realizing Laravel isn't going to get much better if I keep writing all the PHP code for it hehe.

[2016-05-21 09:40] joshhornby opened #33 "Licence"
All good open source projects need a licence.

I recommend we go with https://opensource.org/licenses/BSD-3-Clause.

Any thoughs @syropian

[2016-05-21 10:00] syropian commented on #33
Agreed, I'll add that now.

[2016-05-21 10:19] #33 closed

[2016-05-21 22:37] alexbowers opened #40 "Highest Level Caching"
The current plan I have for step 1 of caching is to use a Middleware class to cache any get requests which return http status codes in the region of 200-300.

The cache TTL will be configurable via .env, but probably set to around 1 hour or so.

Does anybody have any insight as to why this may not be a good idea? I can't see any bad idea.

Perhaps to begin with, it should not apply to the api rout

[2016-05-21 22:44] alexbowers opened #41 "php CS fixer"
We should have some form of local fixer for PSR2 so that style-ci is a backup plan not the main method of validation.

[2016-05-21 22:44] alexbowers opened #42 "Setup Improvements"
Setting up and installing locally has proven to be not completely straightforward. I think the base page should return the steps based on what you have left to do.

We'll see what steps are needed, but I think we can improve it quite a lot.

Errors encountered along the way:

- [ ] No .env file (.env.example) - Generic 'Something went wrong' page. (not sure a solution to this is possible?)
- [ ] N

[2016-05-21 23:06] syropian commented on #42
Hm, you may be under the impression that Astral is meant to be self-installed, but its a hosted app (http://app.astralapp.com).

[2016-05-21 23:16] alexbowers opened #43 "Issue errors in a better way"
If something goes wrong with authentication currently, it is not clear. A generic exception message is thrown, and not much can be seen from there. `InvalidStateException in AbstractProvider.php line 191`

[2016-05-21 23:16] alexbowers commented on #42
Ah okay. There is still the possibility of people installing it themselves (being OS and all). Installation should be made as easy as possible - Though, i guess since it isn't a priority, its a low level task.

[2016-05-21 23:18] syropian commented on #42
Yeah, self-installation isn't really a priority at this point. Lots of other stuff to tackle!

[2016-05-21 23:18] #42 closed

[2016-05-21 23:18] alexbowers commented on #43
this again, was a local issue (due to not having correct config - Not an issue in RL, but perhaps nicer messaging can be dealt with).

Low priority.

[2016-05-21 23:18] syropian commented on #43
Yeah, pretty much all the routes/controller actions need better error handling in general. That'll hopefully be part of if their refactoring

[2016-05-21 23:20] alexbowers opened #44 "SPA url changes"
Since this appears (at first glance) to be a Single Page Application, currently there are different page states (such as whether we are on the 'All Stars' page or 'Untagged Stars' etc, but refreshing the page loses the current state.

Using some form of URL changing would help significantly with this.

Angular can do this, I imagine Vue can too (since i believe vue is being used?)

[2016-05-21 23:23] alexbowers commented on #41
@joshhornby Would you be able to set this up? Since you did the Style CI stuff etc.

[2016-05-21 23:24] alexbowers commented on #40
Looking into how the app works, I have this backwards. Getting the /dashboard route would not work.

I'll look into it more, but dont think magic caching is going to be a viable solution due to being SPA.

[2016-05-22 02:33] syropian commented on #44
This sort of happens, when you click a tag the url gets updated. I have not gotten to writing the untagged state yet though. It's pretty trivial to update the url though.

[2016-05-22 02:35] syropian commented on #40
Hm, could we still not use the middleware in most of the api route group routes? `/dashboard` is a client-side route, but anything with `/api` is a server-side route.

[2016-05-22 11:32] alexbowers commented on #40
Yeah, we can apply a middleware to the API route group.

[2016-05-22 17:35] syropian commented on #40
There are a few special cases where we wouldn't want the middleware caching though. Namely, fetching the stars from GitHub, as I had to write a pretty custom solution for caching that data, due to the fact that the GitHub API paginates the response.

[2016-05-22 19:26] alexbowers opened #45 "[Security] Do not broadcast X-Powered-By"
For security reasons, broadcasting X-Powered-By is not really a good idea.

[2016-05-22 21:07] syropian commented on #45
What's currently broadcasting it?

[2016-05-22 21:22] alexbowers commented on #45
Ajax calls have it in the Response Headers.

By the look of it, its Apache

![image](https://cloud.githubusercontent.com/assets/842974/15456553/b9e96dbc-206b-11e6-90aa-96e23cc6e8d1.png)

[2016-05-25 19:56] sixlive commented on #31
I'd really like to say yes, I love the app, but it will be a few weeks for my schedule to clear up.

[2016-05-25 20:09] syropian commented on #31
@sixlive No sweat dude, there is no hard deadline. Whenever you think you have the time, shoot me a message (or come say hey in the [Gitter channel](https://gitter.im/astralapp/astral)!).

[2016-05-26 14:29] elazar opened #54 "Suggested tags / auto-tagging untagged items"
This is a very rough idea / proposal, but I'm filing this issue to get discussion going. I'd be willing to help with implementation.

Essentially, if your initial import is large (mine is bordering on 1K), tagging can be a laborious and tedious process. It would be cool if there was a way to have Astral help the user with that.

This could take the form of searching repo descriptions and README fi

[2016-05-26 16:28] syropian commented on #54
Yeah, having some sort of quasi-intelligent auto-tagging has kind of been a thing floating around the app for a while. You can already auto-tag by language (in settings), and I also attempted a "crowd-sourced" auto-tagging mechanism, where for each of your starred repos, it would look for that same repo across other users, and see what they starred it with. If a repo had been tagged at least (5?)

[2016-05-31 21:53] #41 closed

[2016-05-31 22:20] joshhornby commented on #19
I will be working on this in the next week hopefully.

[2016-06-09 11:44] lucmichalski opened #58 "Rewrite the API server in golang"
HI guys,

Hope u are doing well !

I was wondering if it would not be better to rewrite the API server with some in golang; it would lighter and faster.

Easy one based on SQLITE3, can be extended to MySQL with GORM, u can check this example:
https://github.com/null-none/qor-init

Cheers,
Luc Michalski

[2016-06-09 11:48] lucmichalski opened #59 "Dockerfile - Docker-Compose"
Re,

Was wondering if providing a launch script with some containers, would make easier the local tests of Astral. (eg. https://github.com/dydx/alpine-nginx-php-mariadb)

What is the license for Astral if u want to contribute ?

Cheers,
Luc

[2016-06-09 11:55] alexbowers commented on #58
Personally I have no experience with GoLang, and it is probably the same situation with the other members.

As for possibly doing it in golang, whilst it may be faster and lighter, it doesn't help much if we can't understand the Pull Request / code.

@syropian Would this be accepted? I have been meaning to learn golang, but I wouldn't be able to verify a PR properly.

[2016-06-09 11:55] alexbowers commented on #59
The licence is listed here: https://github.com/astralapp/astral/blob/master/LICENSE

[2016-06-09 11:58] joshhornby commented on #58
I don't see any benefit in moving to Go, PHP 7 brings speed improvements and once the code refactor is complete I am sure we will see many benefits, one of which will be increased performance .

[2016-06-09 11:59] alexbowers commented on #58
I agree, since the next version will be PHP 7 based.

[2016-06-09 13:56] syropian commented on #58
Yeah, at the moment I have no desire to rewrite the whole server in Go, as none of us have any real experience with it. I've been very impressed with PHP7's performance, and I think for now that'll be fine.

[2016-06-09 13:56] #58 closed

[2016-06-09 13:58] syropian commented on #59
I don't have much (read any) experience with Docker. Are you having trouble getting Homestead up and running?

[2016-07-10 22:25] bigdoods opened #61 "Compiling astral"
Hello,

I am trying to build the local version as described in your readme and I am a bit lost as that I have no experience with laravel and php.

I am at the Compile step in your instructions. Could you make it clear what that means for me please?

I have tried running `compose composer.json` and I receive the following error:
Error: no "compose" mailcap rules found for type "application/json"

T

[2016-07-11 02:40] syropian commented on #61
Hi! First of all you'll need to globally install [Composer](https://getcomposer.org/). After that just cd into the project and run `composer install`.

[2016-07-11 10:56] bigdoods commented on #61
Thank you!

[2016-07-11 10:56] #61 closed

[2016-07-22 13:58] ianmclean opened #65 "Duplicate tag"
![astral](https://cloud.githubusercontent.com/assets/230274/17059378/d730cae4-4ff2-11e6-9917-37374e33905e.png)

[2016-07-22 13:58] slackmage commented on #65
Thanks! 🙌🏻

[2016-08-10 19:11] bigdoods opened #74 "UX ideas to enhance product usability"
As a daily user of astral, I find myself having to go to the trouble of taking the time of assigning tags in order to keep my astral library up to date. I have some ideas on how they could be improved and would like some feedback on there level of difficulty to implement.

1) The process of adding tags/typing tag names/assign tags to libraries can be painful. Sometimes I have tags stored and I for

[2016-08-10 19:30] syropian commented on #74
@bigdoods Thanks for the feedback.

1) Tags are already deleteable - simply select a tag in the sidebar, and then in the dashboard header, next to it's name, click the cog icon and hit delete.

2) I've been definitely brainstorming ways of making tagging easier. Some of my thoughts are easier ways to mass-tag stars when filtering them, better auto-tagging by language, etc.

3) Just FYI, you can dr

[2016-08-20 01:43] syropian opened #76 "window.atob() in Safari is very strict"
It seems Safari does not like the base64'd versions of the markdown readmes Github is sending through the API.

[2016-08-24 12:06] levytskiy opened #77 "White screen after selecting tag which contains one or more dash/minus symbols"
Well, I am using dash/minus symbols to separate my tags. When selecting this tag the entire screen becomes white. Also, it is impossible to delete this tag.

My tags

![screen shot 2016-08-24 at 15 02 52](https://cloud.githubusercontent.com/assets/7404124/17929882/1f7b7a78-6a0c-11e6-9cf2-eb174d1819c3.png)

[2016-09-01 14:29] syropian commented on #76
Fixed in #78

[2016-09-01 14:29] #76 closed

[2016-09-02 18:45] nogorilla opened #79 "Unable to rename a tag"
When attempting to rename a tag, after clicking "Save" the error appears "The name field is required" despite having an entry in the tag's name field

![screenshot](https://cloud.githubusercontent.com/assets/1786677/18214614/d98ad420-711b-11e6-9077-c675f0da9835.png)

[2016-09-02 18:47] nogorilla opened #80 "Unable to display a repo if no readme is present"
If a repo does not have a readme file, the repo cannot be displayed. This prevents editing of tags and notes for the repo

[2016-09-02 19:02] syropian commented on #79
Whoops, you're right! I'll look into pushing a fix for this later today when I get off work.

[2016-09-02 19:32] syropian commented on #80
@nogorilla Could you include a link of an example repo that has no readme? Thanks!

[2016-09-02 19:58] nogorilla commented on #80
https://github.com/BrewPi/brewpi-www

[2016-09-20 06:47] w00p opened #83 "Changes to vue components"
Hi,

After doing some changes to vue files, how to get the changes to work?

[2016-09-20 08:32] alexbowers commented on #83
You will need to make sure you run `gulp` in the command line to compile the assets down.

[2016-09-20 09:06] w00p commented on #83
Yeah, but i get the following error when running gulp:

`/home/user/domains/domain/public_html/node_modules/laravel-elixir-vueify/index.js:3
Elixir.config.js.browserify.transformers.push({
TypeError: Cannot read property 'transformers' of undefined
    at Object.<anonymous> (/home/user/domains/domain/public_html/node_modules/laravel-elixir-vueify/index.js:3:28)`

[2016-09-20 09:08] alexbowers commented on #83
Are you definitely up to date `npm install`

[2016-09-20 13:38] syropian commented on #83
Possibly a breaking change in Elixir. I'll look into this soon.

[2016-09-20 13:59] syropian commented on #83
@w00p Can you please try pulling on master, (and if you have a feature branch, merge master into it) and try running Gulp again?

[2016-09-20 14:34] w00p commented on #83
Thank you @syropian :) Did a git pull and npm install. Now gulp works perfect!

[2016-09-20 14:34] #83 closed

[2016-09-20 14:45] syropian commented on #83
Great, thanks!

[2016-09-20 17:25] w00p commented on #79
Any update on this?

[2016-09-20 17:49] syropian commented on #79
@w00p Haven't had time to fix this, I can try and get to it this weekend.

[2016-09-20 17:53] syropian commented on #77
This is because selecting a tag changes the url. I'm guessing it doesn't like an url thats just a bunch of dashes.

[2016-09-23 10:13] levytskiy commented on #77
@syropian I see, also it is impossible to delete such tag

[2016-10-01 18:23] gagomes commented on #80
I'm seeing the same at astralapp.com

[2016-10-01 18:36] gagomes opened #84 "Usability issues and suggestions"
1. When adding tags to a star in firefox (Linux) the input box does not get cursor focus unless clicked. I believe this works fine in OSX.
2. Provide a feature to tell astral to flush the cache away and refresh it, so that if we unstar stars, these are evicted away.
3. Please add a feature to select multiple repos and apply tag(s) to all selected.

[2016-10-05 14:43] revolter opened #85 "Relative URLs not working"
If a repository has an image with relative URL, Astral tries to load if from the `astralapp.com` domain.

This is one repository that causes problems: https://github.com/cruffenach/CRToast . You can see that in Astral, the screenshots are not showing up.

I am willing to try to open a PR for this if pointed to the right file, as I don't know the project structure, nor Angular or Vue.

[2016-10-05 15:54] syropian commented on #85
I'm going to look into this a little further, but I think this is an issue with repos that use images _from the repo itself_ inside the readme. Github can show it fine as it's hosting the content, but as we are not there isn't a way to show those images. There's possibly some regex foo to transform the markdown on fetch but that may get messy.

[2016-10-05 15:59] alexbowers commented on #85
I'm happy to fix this @syropian if @revolter isn't able to

[2016-10-05 15:59] revolter commented on #85
This is what I wanted to say. Well, I currently don't see another way than changing the markdown before printing it.

[2016-10-05 15:59] revolter commented on #85
@alexbowers, That would be great! What idea do you have in mind?

[2016-10-05 16:01] alexbowers commented on #85
A simple regex replace on the readme for `src, href` etc -> `src="/"` where `/` is not a `//` (to check for relative).

From there, generate a `raw.github` url for the path to the image, and use that in the src.

[2016-10-05 16:02] alexbowers commented on #85
Eg, for one of the screenshots in the provided file, it is this path: https://raw.githubusercontent.com/cruffenach/CRToast/master/screenshots/demo.gif

Which is obtainable by appending `?raw=true` to the URL already being used.

[2016-10-05 16:02] revolter commented on #85
That was my thought too, but I didn't work with JS in a couple of years, so if you can do it, I would be grateful.

[2016-10-05 16:03] alexbowers commented on #85
Yeah i'll try to get the chance this evening to give it a go.

[2016-10-05 16:03] revolter commented on #85
Wait, the URL in the README is `screenshots/demo.gif`, so it needs the first part of the URL too.

[2016-10-05 16:06] alexbowers commented on #85
Yeah, the regex will be able to replace the relative URL with the URL of their repository, which I believe we already have [here](https://github.com/astralapp/astral/blob/master/resources/assets/js/store/actions.js#L90).

That will allow me to generate a `//github.com/${name}/${path}?raw=true`.

A bit more work than that is required, incase the URL already has query parameters etc, but thats the g

[2016-10-05 17:22] syropian commented on #85
@alexbowers Thanks! Would be very grateful if you took a stab at it :)

[2016-10-05 19:31] alexbowers commented on #85
@syropian Can you take a look at #86?

[2016-10-05 19:32] alexbowers commented on #85
@revolter If you want to look over the implementation too. If approved, it should go live sometime soon.

[2016-10-05 19:53] syropian commented on #85
@alexbowers I'll give it a look right now!

[2016-10-05 20:15] #85 closed

[2016-10-05 20:49] alexbowers commented on #80
I'll get around to fixing this tomorrow probably. In the meantime, feel free to submit a PR if you want to fix it.

[2016-10-05 20:49] alexbowers commented on #80
Or do you have WIP @syropian ?

[2016-10-05 20:51] syropian commented on #80
@alexbowers You can tackle this if you'd like. I'm going to try fix tag renaming tonight.

[2016-10-05 20:51] alexbowers commented on #80
Ok cool.

[2016-10-05 21:05] syropian commented on #79
Will be pushing and deploying a fix for this in a couple hours.

[2016-10-05 23:00] syropian commented on #79
Fixed in #87

[2016-10-05 23:00] #79 closed

[2016-10-05 23:02] syropian opened #88 "Add a button that forces a refresh of stars"
This should bust the stars cache, and re-fetch all stars from Github. It should have a throttle of one refresh every 5 minutes on a per user basis.

[2016-10-05 23:04] alexbowers commented on #88
This is something I would have found useful.

Then I realised for dev mode, just `php artisan cache:clear` does it.

[2016-10-05 23:07] syropian commented on #88
@alexbowers Yeah, easy to do in dev mode, but this is for users who want to immediately organize something they just starred. Cache is currently set to 2 hours, which is probably a little long for some people :)

[2016-10-06 08:31] alexbowers commented on #45
@syropian This needs revisiting I think.

[2016-10-06 11:52] syropian commented on #45
Fixed by adding `proxy_hide_header X-Powered-By;` in the nginx confs.

[2016-10-06 11:52] #45 closed

[2016-10-06 12:09] alexbowers commented on #45
Great thanks.

[2016-10-06 12:09] alexbowers opened #89 "Letsencrypt for the domain"
FREE SSL For life. :)

[2016-10-06 12:11] alexbowers commented on #84
Thanks for the feedback.

2. Is being tracked on a separate issue. https://github.com/astralapp/astral/issues/88

[2016-10-06 12:34] alexbowers commented on #45
We were planning a while ago of going to PHP 7, is that complete yet, or still in progress?

[2016-10-06 13:16] syropian commented on #45
@alexbowers It's currently running on a PHP 7 server.

[2016-10-06 13:17] alexbowers commented on #45
Great. I might do some refactors to php 7 at some point.

[2016-10-06 13:17] alexbowers opened #90 "Upgrade to Laravel 5.3"
We can use Laravel Shift for this, its $9 but does the work for us.

[2016-10-06 13:18] syropian commented on #45
That would be awesome 👍

[2016-10-06 13:20] syropian commented on #89
Yeah, right now the marketing site is running on one of my Apache droplets so I'd have to do it manually instead of through Forge. I'll hopefully get to this soon.

[2016-10-06 13:21] syropian commented on #90
That's pretty sweet, I'll get this going after work tonight.

[2016-10-06 16:47] alexbowers commented on #2
@syropian Still a bug?

[2016-10-06 23:14] pantchox opened #91 "App is slow when user have abobe 1000 stars"
the 'Loading stars' take too long.

Maybe the way the data is being loaded and rendered is not optimal.

[2016-10-07 04:40] syropian commented on #91
Github paginates its API, so there's no way to fetch 1000+ stars right away. It has to be done recursively to make perceived load time decent. Right now the Github API client I'm using is pulling 30 stars per page, but they recently merged a PR I wrote that kets you specify how many stars per page you want. GitHub still limits this though, and I don't think you can pull more than 50 per page.

Fur

[2016-10-07 04:40] #91 closed

[2016-10-09 18:36] syropian opened #93 "Certain tag names convert to broken urls"

[2016-10-09 18:38] syropian commented on #93
Tags such as "C#" aren't url safe and become unclickable. This seems to be the case with tags using alternate languages such as Chinese.

[2016-10-09 21:49] alexbowers commented on #93
URL Encoding and Decoding may be the way to go on this:

https://3v4l.org/PqSXO

It may not be the prettiest URLs, but it'd get the job done.

[2016-10-09 21:50] alexbowers commented on #90
I didn't get around to this today, will hopefully in the next few days.

[2016-10-10 10:42] Ibrahim-Islam opened #94 "Memory Consumption too high"
After a while using AstralApp, this is what the memory consumption looks like:

![astral_mem](https://cloud.githubusercontent.com/assets/6401874/19233622/6f43443e-8f08-11e6-8dce-bce238e194ce.png)

[2016-10-10 11:01] alexbowers commented on #94
More info:

@Ibrahim-Islam has approximately 570 stars.

Any more information from you @Ibrahim-Islam Would be useful.

Ie. how many tags do you have?

[2016-10-10 11:38] Ibrahim-Islam commented on #94
@alexbowers  I have 8 tags.

[2016-10-10 11:39] alexbowers commented on #94
Thanks, please can you provide:

- OS Version
- Browser Version

[2016-10-10 11:40] Ibrahim-Islam commented on #94
@alexbowers OS: Window 8.1, Browser: Chrome Version 53.0.2785.143 m

[2016-10-10 11:40] alexbowers commented on #94
Thanks, we'll look into it soon.

[2016-10-10 13:36] Ibrahim-Islam opened #95 "Tag popup appearing blurred"
OS: Windows 8.1, Browser: Chrome Version 53

![astrap_app_2](https://cloud.githubusercontent.com/assets/6401874/19237883/d84c69b6-8f20-11e6-80d6-43b75dbd6a30.png)

[2016-10-10 14:18] Ibrahim-Islam opened #97 "Redundant readme.md requests"
Clicking on a repo item loads the readme.md every time on the right pane. Even if its loaded already. Also scroll clicking on the "View on GitHub" link does the same.

[2016-10-10 14:59] Ibrahim-Islam opened #98 "Unable to fetch readme from GitHub"
This error when there is no Readme.md for a repo and due to this cannot add tags to the repo.

[2016-10-10 15:33] alexbowers commented on #98
Duplicate of https://github.com/astralapp/astral/issues/80

Closing to keep the discussion in the other thread. Thanks for reporting.

[2016-10-10 15:33] #98 closed

[2016-10-10 19:44] #95 closed

[2016-10-10 20:51] alexbowers commented on #80
Work in progress made here: https://github.com/astralapp/astral/pull/99

[2016-10-11 00:09] syropian commented on #93
url encoding is fine with me. 👍

[2016-10-11 13:00] pantchox opened #100 ""edit tags" can't get any input on chrome and firefox"
when i want to "edit tags" of my " Untagged Stars" it let me write input for 2 seconds then delete the whole input, thus i can't add tags.
this happens when logging in and editing 1 star then when going to other to edit it deletes it and so on.

[2016-10-11 17:15] syropian opened #101 "NPM ➡️ Yarn"
Will be experimenting with switching from NPM to [Yarn](https://yarnpkg.com) locally, and if all goes well, will also transition the live servers, which should speed up deploys quite a bit.

[2016-10-11 21:27] alexbowers commented on #101
Laravel itself is making the switch, so this should be perfectly fine to change to. :)

[2016-10-12 07:13] zhaohuiyingxue opened #102 "Does not support Chinese tag"
Does not support Chinese tag

[2016-10-12 10:44] zhaohuiyingxue opened #103 "建议增加按时间排序"

[2016-10-12 11:01] #103 closed

[2016-10-12 11:02] #18 closed

[2016-10-12 11:02] #19 closed

[2016-10-12 11:03] #22 closed

[2016-10-12 11:05] syropian commented on #102
Duplicate of #93

[2016-10-12 11:05] #102 closed

[2016-10-12 11:17] alexbowers commented on #103
Please leave feedback, feature requests and bug reports in English. Thanks.

[2016-10-12 11:27] syropian commented on #6
This should be fixed now that Github renders the readmes for us.

[2016-10-12 11:27] #6 closed

[2016-10-12 11:28] #4 closed

[2016-10-12 20:14] dhetman commented on #97
I can take a look if it's still up for grabs.

[2016-10-12 20:16] alexbowers commented on #97
Go ahead :)

[2016-10-13 00:35] syropian commented on #101
Added in #104 , and added to production server. :shipit:

[2016-10-13 00:35] #101 closed

[2016-10-13 03:19] zhaohuiyingxue commented on #93
you can add chinese tag,but can not view list with this tag.
eg. add tag with name “中文” or “C#”,the json in response (https://app.astralapp.com/api/tags) like this:
{"id":105918,"name":"C#","description":null,"sort_order":0,"created_at":"2016-10-12 06:29:11","updated_at":"2016-10-12 06:54:23","slug":"c","color":null,"stars_count":36},{"id":106141,"name":"\u4e2d\u6587","description":"","sort_order"

[2016-10-13 08:45] alexbowers commented on #93
Just edited your command to add some formatting to json.

[2016-10-13 13:20] syropian commented on #93
@alexbowers Since some tags like `C#` get the slug of `c` (which is still valid but incorrect) we'll probably need to write an artisan command to re-slug all tags. There's already one to populate tags that don't have a slug (see https://github.com/astralapp/astral/blob/master/app/Console/Commands/AddTagSlugs.php), but we'll need a modified one to fix other slugs.

Not sure if there's a way to filt

[2016-10-13 13:59] alexbowers commented on #93
What we could do is fetch all tags, apply the change in php, and if the value is different run the update query. This would speed it up somewhat.

[2016-10-13 20:24] syropian commented on #93
@alexbowers Would you be able to tackle this? I would say it's pretty high priority over other tasks atm.

[2016-10-13 20:27] alexbowers commented on #93
Sure can you send me a database so I can test the migration ?

On 13 Oct 2016 9:24 pm, "Collin Henderson" <notifications@github.com> wrote:

[2016-10-13 20:41] syropian commented on #93
@alexbowers Just emailed you a DB dump

[2016-10-13 22:18] alexbowers commented on #93
Fixed in #105. Thoughts?

[2016-10-14 00:35] syropian commented on #93
@alexbowers Awesome stuff! I applied the fixes on the production server. Thanks!

[2016-10-14 00:35] #93 closed

[2016-10-14 02:53] zhaohuiyingxue commented on #93
now some tags like "中文"  which is valid but incorrect,the json like this:
[code]
but I think the json for results should be that way:
[code]
it's means you can only use function with urlencode（with utf-8）。
eg.
C++ --> C%2B%2B
C# --> C%23
中文 ~`!@#$%^&*()_+-={}[]|\:;\"'<>?,./  --> %E4%B8%AD%E6%96%87+%7E%60%21%40%23%24%25%5E%26%2A%28%29_%2B-%3D%7B%7D%5B%5D%7C%5C%3A%3B%22%27%3C%3E%3F%2C.%2F
.net --> .

[2016-10-14 07:05] zhaohuiyingxue commented on #93
You can remove replace_encoded_space, replace_plus,str_slug these functions(in line 32\33\35 of file 'TagSlugger.php') eg. use urlencode to translation ‘中文’ to '%E4%B8%AD%E6%96%87', and use replace_encoded_space, replace_plus,str_slug to 'e4b8ade69687'  is meaningless
p.s. #77 is fixed now with this commit;

[2016-10-14 07:45] alexbowers commented on #77
This is fixed in #105 because if it's empty we generate a random string for the slug

[2016-10-15 11:19] soredake opened #106 "unable to fetch stars from github"
Astral fails on ~35 page with 500.
fx 49

[2016-10-19 21:19] #44 closed

[2016-10-19 21:20] syropian commented on #29
Fixed in #67

[2016-10-19 21:20] #29 closed

[2016-10-19 21:21] #17 closed

[2016-10-19 21:22] syropian commented on #65
Should no longer be possible to duplicate tags.

[2016-10-19 21:22] #65 closed

[2016-11-05 17:24] syropian commented on #97
Fixed in c67d871

[2016-11-05 17:24] #97 closed

[2016-11-05 17:25] syropian commented on #80
Fixed in #99

[2016-11-05 17:25] #80 closed

[2016-11-05 21:09] syropian commented on #89
Slightly updated marketing site up with SSL enabled :)

[2016-11-05 21:09] #89 closed

[2016-11-06 00:23] pantchox opened #107 "Astral is very slow loading stars, causing it not to work properly and causing browser to choke"
Hello,
First i love astral i think its a very cool and it helps me organize my github stars as i wanted before knowing somthing like this exist, so i am happy there is Astral.

I love to star repos on github.. like a lot! (~1.6K).
Problem occurs when i login to Astral, it takes like few min to finish loading all my stars, by that time i can browse the stars that were already loaded, which is nice,

[2016-11-06 00:41] syropian commented on #107
Thanks for the writeup, I'll address a few things.

1. This is something that I want to optimize over time, but I (literally) don't have the time. Complex server-side cases will eventually defer to @alexbowers , but he's just as busy as I am. There have just been too many other issues since the v2 launch to worry about.
2. I'm not sure the size of the responses is terribly important. I can't imagi

[2016-11-06 00:44] alexbowers opened #108 "Initial Page Load is slow"
With many stars, the astral dashboard is very slow to load.

A possible way to improve this is to fork off jobs on a queue to obtain the users stars.

We can get the number of stars a user themselves have.

<details>
`curl -I https://api.github.com/users/pantchox/starred?per_page=1` gives us the following headers as part of its response:

[code]

Where we can quite easily parse to get the page num

[2016-11-06 00:44] alexbowers commented on #107
Thank you for your thorough issue.

I'll try to address some of these points below, and create separate issues to track some of these.

Slow initial Page Load: #108

[2016-11-06 00:44] alexbowers commented on #107
Just seen you response. I'll try to respond on a few things too.

[2016-11-06 00:46] alexbowers commented on #107
@pantchox To help us test this in a more timely manner, would you possibly be able to create a test user on GitHub for us, which has many stars on it too?

Currently i'm too busy to be able to put much time in, but if I have an easy way to test it locally, that would be a big hurdle completed.

If you can send me and @syropian an email with a username and password of a new account with lots of sta

[2016-11-06 01:08] syropian commented on #108
Like the idea of using a queue! I've never used them before so I'll leave that in your hands :D

[2016-11-06 09:12] pantchox commented on #107
thanks guys for addressing this, i will help of course.
i will create a github user and will do a script to auto star the same stars that i have and i will send you my JSON tag object.
give 1-3 days.

P.S
i know its a side project and you do all the hosting and stuff and i think its amazing.
also for open source projects there are some places that give free hosting so that could help and maybe eve

[2016-11-06 13:18] alexbowers commented on #107
Rather than sending us the JSON, sending us access to the account with these stars will be more useful. Since many API calls are made, its much easier for us to test it against live accounts.

Once the account is ready (with stars on it), please email the username and password to bowersbros+astral107@gmail.com and we can then authenticate the user and test it.

Obviously, do not use a real passwor

[2016-11-07 11:07] DanielRuf opened #109 "Refresh button - fetch new / current stars if something has changed (bypass cache)"
The cache is currently set to 120 minutes https://github.com/astralapp/astral/blob/138074d181ba39d9bcc7dc302c7d88759e3a6872/app/Lib/GithubClient.php#L13

But when I add new stars on GitHub, they do not directly show up in Astral so we have to wait at least 120 minutes until we see the new stars in Astral. It would be helpful to show some info that the current stars in Astral are delivered from the

[2016-11-07 11:56] alexbowers commented on #109
Duplicate of https://github.com/astralapp/astral/issues/88

We will track it in there.

Thanks for reporting, feel free to subscribe to that other issue to receive notifications when we have progress to report on it.

[2016-11-07 11:56] #109 closed

[2016-11-07 11:57] alexbowers commented on #88
Feeding on from #109, perhaps having a `last updated X` message showing when cache is from would be useful?

[2016-11-07 12:16] DanielRuf commented on #109
@alexbowers thanks, unfortunately oversaw this issue.

[2016-11-07 12:17] alexbowers commented on #109
No problem :)

Happy to take duplicate reports rather than something get not reported at all.

[2016-11-08 13:48] pantchox commented on #107
Hi, i have emailed you the credentials, the new user has exact ~1.6k stars like me.
In order to make it easy i created a VERY ROUGH draft script to copy stars from user to another that next time you will just need the username and the script will copy the stars for you for your new temp test user.
You can paste it in your chrome developer tools console window as long jQuery is presented (you can g

[2016-11-08 14:13] syropian commented on #107
Thank you! This is very helpful, and should be useful for performance testing. Much appreciated!

[2016-11-12 16:54] syropian commented on #88
Added in #111

[2016-11-12 16:54] #88 closed

[2016-11-12 17:01] syropian commented on #13
This was fixed at some point.

[2016-11-12 17:01] #13 closed

[2016-11-12 17:01] #3 closed

[2016-11-12 17:01] syropian commented on #2
Unstarring was removed, so closing this for now.

[2016-11-12 17:01] #2 closed

[2016-11-12 17:02] #15 closed

[2016-11-12 17:03] syropian commented on #27
I believe this is fixed.

[2016-11-12 17:03] #27 closed

[2016-11-12 17:07] syropian commented on #77
Confirmed.

[2016-11-12 17:07] #77 closed

[2016-11-12 17:07] syropian commented on #84
Note 2 was added in #111

[2016-11-14 22:38] alexbowers commented on #90
Delay was a little longer than expected, can you review the PR @syropian ?

[2016-11-15 00:03] syropian commented on #90
Yup! I'll get to this tomorrow, thanks!

Sent from my iPhone

[2016-11-15 20:55] #90 closed

[2016-11-16 21:21] syropian opened #113 "Searching by tag in search bar causes error and breaks search"

[2016-11-17 00:03] syropian commented on #113
Fixed in #114

[2016-11-17 00:03] #113 closed

[2016-11-20 02:20] vipheyue opened #115 "can't search tag....."
if this can **1.search tag and 2. notes .**
and show my notes this is best tool!!!

[2016-11-20 02:21] vipheyue commented on #115
show 3. my notes is very important

[2016-11-20 02:26] syropian commented on #115
Notes can be searched in the search bar

[2016-11-20 02:34] vipheyue commented on #115
yes  notes can searched .
i want two functions improve  user experience.
1. search tag
2. show my notes in panel.

now.. if i want search my note ... i must write note .. can't search by tag

tag show in panel i like ...this .. if note also show in panel it's very good

[2016-11-20 02:36] syropian commented on #115
Apologies, I'm not 100% what you mean. Do you mean you want to be able to filter your tags by a search query, or filter your stars by tags within the search bar?

[2016-11-20 02:40] vipheyue commented on #115
yes

发自我的 iPhone

[2016-11-20 02:42] vipheyue commented on #115
search tag and dispaly my notes in home panel

发自我的 iPhone

[2016-11-20 02:44] vipheyue commented on #115
filter my tags by a search query

�������� iPhone

[2016-11-20 02:48] syropian commented on #115
Filtering tags is a dupe of #9.

I realize english is not your first language and the language barrier is making it a little tough to understand what you want with notes. It seems like you want notes to show without clicking a button or something, but unfortunately that would clutter the interface.

Closing for now.

[2016-11-20 02:48] #115 closed

[2016-11-27 01:10] mistadikay opened #116 "Tag counters are not updating"
Hey! Awesome app, love it and use it.

A small, but annoying bug: after unstaring a bunch of repos I noticed that though they successfully disappeared from Astral after syncing, the number of the tag contained them stayed the same. For example, there is only one repo left under `analysis` tag, but it still shows the old number.
![screenshot 2016-11-27 02 09 49](https://cloud.githubusercontent.com/

[2016-11-27 11:32] mistadikay opened #117 "Uncaught (in promise) TypeError: Cannot read property 'parentNode' of null"
Exception while trying to load the stars. Chrome Version 54.0.2840.98 (64-bit), macOS
![screenshot 2016-11-27 12 30 40](https://cloud.githubusercontent.com/assets/742056/20648078/7da77896-b49d-11e6-9d8d-8701729b3539.png)

[2016-11-27 14:13] syropian commented on #116
This is actually an interesting problem that I never thought about before. Behind the scenes we create a new record whenever you tag a repository but we dont consistently cross-check those records with the current star list in case a repo has been unstarred. Since those checks never happen, certain records never get deleted from the DB.

I'll have to include a "cleanup" phase after fetching all st

[2016-11-27 14:15] syropian commented on #117
Any steps to reproduce? I know this sometimes happens right before the app reauthenticates you, or on the odd time that authentication randomly fails. Usually just refreshing fixes it.

[2016-11-27 14:18] mistadikay commented on #117
Hm, can't reproduce anymore. I had this bug while `https://app.astralapp.com/dashboard` page was loading, refreshing didn't help, but now it seems to be fine.

[2016-12-08 23:32] muescha commented on #54
there should be a suggested list of tags which i can check (and it should be sorted by count)
but you dont need a big database for this. just save on every new tag assignment the new `taglist = [(tag:count)]` as json per repo - you can then load this json easy :)

[2016-12-08 23:33] muescha commented on #5
+1

[2016-12-08 23:35] muescha opened #118 "adding tags - hit enter should close the tag edit dialog"
what i do:
- click on add tags
- enter: "firsttag"[enter]
-enter: "secondtag" [enter]
-enter: [enter]
what i see:
- error message `please enter 2 or more characters`
what i expected
- close the dialog

[2016-12-08 23:38] muescha opened #119 "click on `untagged stars` should exclude automatic language stars"
click on `untagged stars` should exclude automatic language stars

[2016-12-08 23:42] muescha commented on #12
this small icon can be the same like on top of the page beside the tag name where i can edit the tag

[2016-12-08 23:43] muescha commented on #8
@syropian no it don't have this behavoir not anymore :(
see #118

[2016-12-08 23:44] muescha commented on #118
(sorry find duplicate at #8)

[2016-12-08 23:49] muescha opened #120 "intuitive tag editing"
- the tag editbox from [2] should appear when i click on point near the tag list at [1]
- the tag delete icon should appear at the tag row at [1] when i hoover over a tag
<img width="693" alt="ScreenShot" src="https://cloud.githubusercontent.com/assets/184316/21032351/46be8be8-bda9-11e6-954e-30191132ff01.png">

[2016-12-08 23:54] muescha opened #121 "Basic Auth Password request - http://astralapp.com should redirect to https://astralapp.com"
http://astralapp.com should redirect to https://astralapp.com

because at http://astralapp.com i get an Basic Auth Password request

[2016-12-09 03:28] syropian commented on #121
This might be because I added netdata performance monitoring to the server today. I'll look into it later.

[2016-12-09 03:30] syropian commented on #119
I don't agree, and it would unexpected behaviour for most users.

[2016-12-09 03:30] #119 closed

[2016-12-09 03:32] syropian commented on #120
Thanks for the feedback. I have a few ideas bouncing around about tag editing, I'll take this into consideration 👍

[2016-12-09 19:20] muescha commented on #119
if i see over the first text, then it can be confusing. i would like to explain my use case in detail.

use case:
i am new to astral

default was 'automatic language' set OFF

i find the `untagged stars` button useful, because now i can work though my repos and add tags. i have so much (1.8k), so i can come back later, hit on `untagged stars` and continue the tagging

i would not only tag with lan

[2016-12-09 19:27] syropian commented on #119
Since languages tags are no different than any other tags, it's impractical to make that change at this time. It would be different if we treated language tags differently, but since we don't I'm not comfortable making a UX change like this.

I have played around with the idea of separating languages from tags, but still making languages part of the filtering equation, but at this point it would b

[2016-12-09 19:31] muescha commented on #119
ok - i agree - it would be easy if the automatic language tags are marked somehow as automatic tags - and every by user handwritten tag are marked as handwritten (even if it matches with a language tag - handwritten is stronger)

[2016-12-09 19:33] muescha commented on #119
an option: `exclude language autotags` would be nice

or even if i switch off the `language autotags` in settings then the untagged filter should exclude the language autotags - btw: that was the first try to achive my use case ;)

[2016-12-20 11:22] m1guelpf opened #122 "Suggest related repos"
Could Astral suggest other repos based on your current stars?

[2016-12-20 15:06] syropian commented on #122
It could, but only from a pool of repos that other Astral users have starred. At the moment this would be pretty low priority though.

[2016-12-20 15:28] alexbowers commented on #122
It's also a complex question. it depends on why you starred something. It
could be because you want to learn / see examples of that language, it
could be because you use the software but never look at its source code.
These would have different suggestions based on them.

On 20 Dec 2016 3:06 pm, "Collin Henderson" <notifications@github.com> wrote:

It could, but only from a pool of repos that othe

[2017-01-06 06:53] muescha commented on #100
for me the same

workaround: click many times into and then try to have naybe the focus sometimes in the edit field with `tab` key

[2017-01-27 10:12] alexbowers opened #124 "Laravel mix instead of elixir"
Laravel mix seems to be the future using webpack rather than elixir. Worth moving over?

[2017-01-27 13:55] syropian commented on #124
Yeah, I think I'll end up switching to Mix. I've also made some decent progress upgrading from Vue/Vue-Router/Vuex v1 -> v2.

[2017-01-27 14:58] syropian commented on #121
This was fixed

[2017-01-27 14:58] #121 closed

[2017-01-27 23:57] alexbowers commented on #124
This is the only thing I didn't update when doing the 5.4 PR check, i'll leave it in your hands

[2017-01-28 18:12] alexbowers opened #125 "Upgrade to PHP 7.1"
I believe we are using 7.0? We should upgrade to 7.1 soon :)

[2017-03-01 16:30] riccardoferretti commented on #120
If it can be helpful, a couple of things around tag editing I noticed:

- would be great if cmd+enter would save the tags
- would be great to have inline tag editing (that is, just editing in [1] instead of having to click the "Edit Tags" option)

I feel the combination of the two would make bulk tagging (which I found being my personal most used way of using Astral) much faster.
(btw, amazing wor

[2017-03-04 12:37] JohannesMP opened #126 "Hide/Show option for language tags"
While the `Auto-Tag by Language` option in Settings is great, it does tend to clutter up the list of tags a bit. It's useful information, but I do value tags I create myself more than language.

It would be nice if it was possible to hide these auto-generated language tags from the left sidebar. A checkbox for 'show language tags' would be ideal.

Alternatively, this information could be exposed w

[2017-03-04 13:04] JohannesMP opened #127 "Meta Tags"
# Overview

I alluded to this in issue request #126, but I think it would be useful to view some meta information from Github repos in a way that is similar to user-defined tags, but without permanently storing them, so that they could update over time.

[Github recently introduced topics ](https://github.com/blog/2309-introducing-topics), a mechanism for adding categories/tags to repositories. Fo

[2017-03-04 13:14] JohannesMP opened #128 "Tag length prompt blocks save button"
When removing a tag in the `Edit Tags` UI by clicking the 'x' on the tag, the prompt to "enter 2 or more characters" blocks the `SAVE TAGS` button.

Additionally, if the user clicks on that prompt, the UI will hide, but the prompt will remain visible:
![animation](https://cloud.githubusercontent.com/assets/662874/23579034/1d09f3fe-0099-11e7-8f9c-a1704b0ba4cc.gif)

It's a minor gripe, since by clic

[2017-03-04 13:55] syropian commented on #128
Yeah, this is a weird side effect of the library I'm using. I'm hoping to replace it with something new soon!

[2017-03-04 14:02] syropian commented on #127
Thanks! These are some great ideas, and I've had similar thoughts floating around about tags as well. I'm in the middle of upgrading the front end to Vue 2.x, and refactoring the Vuex store so I've got that to finish, but I think this is the next thing I'll tackle. Cheers!

[2017-03-04 14:03] syropian commented on #126
Thanks, I'm going to close this since you went into more detail in #127

[2017-03-04 14:03] #126 closed

[2017-03-09 14:25] Ibrahim-Islam opened #129 "Unable to create a note for a repo that does not have a Readme"

[2017-03-18 19:04] dnepro opened #130 "Website offline"
According to Cloudflare and the provided error message (Error 526), the cause is a "Invalid SSL certificate".

[2017-03-18 19:21] syropian commented on #130
Yup, it's related to: https://twitter.com/laravelphp/status/843173647846195201 (and https://twitter.com/laravelphp/status/843173737830780929). The server is unable to re-issue certs at the moment, so unfortunately we just have to wait it out.

[2017-03-18 19:25] dnepro commented on #130
Ok i see, thank you for responding so fast!
Really like astral and by this opportunity, would like to thank you 👍

[2017-03-18 19:37] syropian commented on #130
@dnepro Thank you! I'm really glad you like it :D

[2017-03-20 15:35] #130 closed

[2017-03-21 15:36] aarongarciah opened #131 "Redirect logged users from oauth to dashboard"
In case that the user is already logged in, redirect the user from https://app.astralapp.com/auth to https://app.astralapp.com/dashboard

[2017-03-29 06:19] Romainpetit opened #132 "Show the repo's last update date"
The way I use Github Stars is the following : I add everything of interest, then I come back and **drop everything from the list that hasn't been updated** for 6 months.

I'd love to see this in various parts of Astral :
- As a displayed information in the repo's list
- As a filter in the repo's list sorting dropdown ( most recent update first, oldest update first )
- As a displayed information in

[2017-03-31 22:17] syropian commented on #125
Server has been updated 👍

[2017-03-31 22:17] #125 closed

[2017-03-31 22:17] syropian commented on #124
Now uses Mix!

[2017-03-31 22:17] #124 closed

[2017-03-31 22:18] #59 closed

[2017-04-01 07:54] mrdulin opened #134 "[bug] duplication of project list"
![](https://ws1.sinaimg.cn/mw690/005FHMJXgy1fe75dpu6i4j30ma1p8tf5)

[2017-04-01 12:24] syropian commented on #134
Hm, I haven't come across this, but you can try refreshing your stars to fix it. ![](http://d.pr/i/OOMX+)

[2017-04-02 16:14] mishizuo commented on #134
same duplicated list and can't edit tag name from yesterday

[2017-04-02 17:25] #117 closed

[2017-04-17 03:55] bntzio opened #136 "[enhancement] Implement SweetAlert"
Hello @syropian, nice work on astral!

I noticed that the app shows default browser alerts (deleting a tag), what do you think about implementing [SweetAlert](https://github.com/t4t5/sweetalert) to improve the design?

I'll be happy to submit a PR. 😃

[2017-04-17 14:39] syropian commented on #136
I'd be happy to accept a PR. One note is, instead of showing a follow-up success SweetAlert, just close the modal after they confirm they want to delete as there's already an existing notification module that indicates success or failure.

[2017-04-19 08:43] bntzio commented on #136
@syropian I got an error when trying to run the app.

![error](https://cl.ly/k3hu/Screen%20Shot%202017-04-19%20at%203.40.27%20AM.png)

Why is that? Also, when trying to do:

`php artisan migrate`

I get the following errors:

![error2](https://cl.ly/k3wZ/Screen%20Shot%202017-04-19%20at%203.42.59%20AM.png)

[2017-04-19 08:49] bntzio commented on #136
Here's my Github's OAuth App settings:

![oauth](https://cl.ly/k3li/Screen%20Shot%202017-04-19%20at%203.44.10%20AM.png)

And here's my `.env` file:

![dotenv](https://cl.ly/k45e/[54fa0c0e54191f2908d479c5c057cae6]_Screen%20Shot%202017-04-19%20at%203.44.28%20AM.png)

[2017-04-19 08:58] alexbowers commented on #136
The database doesn't exist.

Either change the database to be sqlite, or create the database in mysql and change the database details to be correct `DB_DATABASE`, `DB_USERNAME` and `DB_PASSWORD`.

[2017-04-21 08:57] Ibrahim-Islam opened #137 "Previous tags are shown for the next selection"
![prob](https://cloud.githubusercontent.com/assets/6401874/25270423/7cde958a-26a2-11e7-929a-89a9dc6f9bb7.png)

As can be seen from the above screenshot, when I add tags to a repo and move immediately to the next one which is without a tag then the tags are shown for the previous repo rather than the current selected ones'.

[2017-04-21 14:34] syropian commented on #137
@Ibrahim-Islam Hm, I was not able to reproduce this. Can you make sure my steps were correct?

1) Clicked a repo with no tags, added one tag to it.
2) Clicked the repo above it that also had no tags, opened tag dropdown.

[2017-04-21 15:31] Ibrahim-Islam commented on #137
@syropian Yes those were the steps with emphasis on switching very fast from step 1 to 2.

[2017-04-21 15:32] syropian commented on #137
Thanks, I have a branch in the works that totally replaces the current tagging library for my own lightweight implementation. I'll look out for this issue.

[2017-04-21 18:43] bntzio commented on #136
@alexbowers Ok so I got it running now, I used homestead instead, now I got another problem, I can't build the js/css neither w/webpack or gulp.

What I did was a simple change to a vue component, but I need to watch for that changes and compile the js, I tried with `npm run watch` and `npm run dev` but none worked.

Also, I tried using `gulp` and `gulp watch` and it appeared that some packages we

[2017-04-21 18:53] bntzio commented on #136
I think something is wrong with the mozjpeg package, when I do a `npm install` I get this:

![](https://cl.ly/k7rm/Screen%20Shot%202017-04-21%20at%201.49.20%20PM.png)

Then all dependencies installs normally.

And when I do `npm run dev` or `npm run watch` I get this:

![](https://cl.ly/k7Nd/Screen%20Shot%202017-04-21%20at%201.44.55%20PM.png)

That's why I can't handle the js/css compilation using

[2017-04-21 18:54] syropian commented on #136
gulp is no longer used, it's all Laravel Mix. What's your node and npm version?

[2017-04-21 18:55] bntzio commented on #136
node: v6.4.0
npm: 3.10.3

[2017-04-21 18:59] syropian commented on #136
Do you have `nvm` installed? I'm currently using 7.3.0 myself. Not sure if that's the problem or not.

[2017-04-21 19:06] syropian commented on #136
I just blew away my `node_modules` folder and ran `npm install` and everything worked fine for me.

OS: `macOS 10.12.4`
Node: `7.3.0`
npm: `3.10.3`

[2017-04-21 19:06] bntzio commented on #136
Yep, I do. I just installed 7.3.0 and ran `npm run reinstall-deps` same error.

[2017-04-21 19:08] bntzio commented on #136
Mmm... what could it be. When you run `npm run dev` aren't u getting errors?

[2017-04-21 19:09] syropian commented on #136
Nope, not getting any errors at all.

[2017-04-21 19:11] syropian commented on #136
@bntzio Are you using homebrew? Check that your copy of libpng is linked properly.

[code]

[2017-04-21 19:14] bntzio commented on #136
Yes, I'm into it.

Are you using webpack 2?

[2017-04-21 19:15] syropian commented on #136
afaik Laravel Mix uses webpack 2 by default.

[2017-04-21 19:39] bntzio commented on #136
@syropian I got it working now! 🎉 the problem was with `libpng`.

Solution:
1) `brew install libpng`
2) `brew link libpng`

Just as you mentioned earlier 👍

It seems that some people are having problems with this as well -> [unable to load image files issue](https://github.com/tcoopman/image-webpack-loader/issues/51)

[2017-04-21 19:40] bntzio commented on #136
Now when I run `npm run dev` everything works fine.

Thank you for ur time @syropian

Now I'll go back to implement the SweetAlert.

[2017-04-21 19:42] syropian commented on #136
Awesome! Really glad you got it sorted, it's good to have these issues in the open in case anyone runs into something similar. Cheers!

[2017-04-24 03:30] bntzio commented on #136
PR ready! 😄 #138

[2017-04-25 20:45] syropian commented on #136
Added in #138 🎆

[2017-04-25 20:45] #136 closed

[2017-05-07 12:39] #106 closed

[2017-05-23 01:20] thundergolfer opened #139 "README Images not showing up in README preview on the app"
The repo that I discovered this on was https://github.com/thundergolfer/arXie-Bot. You can see in the screenshot below that the header image is not available.

![image](https://cloud.githubusercontent.com/assets/12058921/26334624/a0f89a2c-3fa9-11e7-8d96-779a503d67b1.png)

The README.md markdown that is supposed to link the image looks like this:

[code]

where the image~s~ is hosted locally in the

[2017-05-23 15:31] syropian commented on #139
Thanks, we do have a regex in place that's supposed to catch this. Will take a look within the next couple days!

[2017-05-28 11:32] sebilasse opened #140 "Feature Request - exported JSON as Gist"
The ability to save the exported JSON as a Gist would be nice –
This should be straightforward since the user already authenticated Github, see https://developer.github.com/v3/gists/

Also from https://github.com/astralapp/astral/issues/84

This would be really useful and time-saving ...

Apart from these wishes : Thank You !

[2017-06-09 03:52] selfagency opened #141 "Product Idea: Unstar"
Add an unstar button next to edit tags

[2017-06-09 13:59] syropian commented on #141
Funny you mention it, I actually used to have this in v1 but it required an extra level of permissions on the OAuth scope that a lot of people weren't overly thrilled about, so I took it out for v2. However I _think_ it's possible to grant certain permissions after the fact by having users opt-in to a different scope later. I'll have to do some research around it.

[2017-06-09 15:37] selfagency commented on #141
Yes, I've been using it since it launched and I was like, "Wasn't there an unstar button here...?"

I've also been experiencing a lot of bugginess. I can't change tag names—it throws an error. Sometimes adding tags creates duplicate tags and clicking on the duplicate tag causes the whole app to go buggy. Stars don't refresh when you click the refresh button. Would also be awesome if you could add

[2017-06-10 14:35] syropian commented on #116
Hey @mistadikay! This was fixed in #142, let me know how it works for you. Cheers!

[2017-06-10 14:36] #116 closed

[2017-06-15 18:56] #134 closed

[2017-06-15 18:57] syropian commented on #107
Closing for now.

[2017-06-15 18:57] #107 closed

[2017-06-15 18:58] #94 closed

[2017-08-08 22:23] dionysio opened #145 "token_not_provided on self-hosted setup"
I'm running astral on apache 2.4.25 on ubuntu 14. So far I managed to set it up with sqlite db and it starts fine. I have the github app and it redirects back to the callback I've specified after authentication. But after that I get the same astral homepage with just the signin button and nothing else. Upon closer look I found this 400 request in my browser:

[code]
from /api/auth/user endpoint. I

[2017-08-09 00:35] #145 closed

[2017-08-15 07:50] Qquanwei opened #146 "Can I use this manage my watch stream ?"
same as title.

[2017-08-15 13:58] syropian commented on #146
Currently no, but if you were interested in self-hosting an instance, it would be fairly trivial to change it to watched repos instead of starred ones.

[2017-08-15 13:58] #146 closed

[2017-08-21 04:20] pantuts commented on #137
Same here.

Other issue is:
Tags: security, python, test
and then user go to `security` tag and edit the tag of selected repo, add 1 or more tags, the new tag(s) will only be saved, excluding the previous tag(s) the the repo has.

[2017-09-07 02:30] akazorg opened #148 "Tags return no stars"
I can't see any starts when I select any of the tags.
Is this a bug?

Thank you!

[2017-09-07 05:38] syropian commented on #148
Hi Bruno, I'm unable to replicate this issue on production. Are you getting any errors in the console?

Sent from my iPhone

[2017-09-07 18:49] akazorg commented on #148
Hi Collin, no errors in the console.
Adding new tags works normally, but all previous tags are empty.

I had an issue a couple of days ago with my computer date changing to the past, tried to replicate it but the issue is not related to that.

For debug proposes, I added a tag named `Laravel` and related some repos with it. This is the only tag with related stars, all other tags are empty.

I'm cu

[2017-09-07 18:58] syropian commented on #148
@akazorg This actually isn't the first case I've heard of tag entries disappearing but I'm honestly not sure what the cause is yet. I may have to create a a more isolated test account to try and figure out why/when it happens.

[2017-09-07 19:53] akazorg commented on #148
Thanks for the reply Collin. I'll use the search for now.
Good luck with that.

[2017-09-07 20:11] syropian commented on #148
@akazorg If you wanted a way to help me determine if the cleanup step is the problem, tag a few stars that you had tagged before, and then refresh the page. While the initial data is loading (the status text will say `Loading Stars`) your tags should be there, and then it will change to `Cleaning up`. If the tags suddenly disappear after that cleanup step we'll know it's the culprit.

[2017-09-08 00:23] akazorg commented on #148
@syropian sure, I'm glad to help! :)
Unfortunately, following that steps, tags don't disappear. I've also monitored the console and found nothing suspicious. Tried changing the date, using the same steps, and still, all working properly.

[2017-09-11 15:33] syropian commented on #148
@akazorg Super weird! I'll keep an eye out for this happening in the future, though it seems to be a little fleeting.

[2017-09-11 17:03] akazorg commented on #148
Thanks, I'll play around with it and let you know of something come up.

[2017-09-21 19:47] syropian opened #149 "Migrate to GitHub API v4 (GraphQL)"
https://developer.github.com/v4/reference/object/user/

[2017-10-05 02:12] pauloue opened #150 "Setting to use https clone"
A setting or the ability to select https/ssh like on github would be nice.

[2017-10-05 02:25] pauloue opened #151 "Language auto-tag"
I enabled this option, but only 1 of my starred repos was tagged with it's language. Even after refreshing the stars only 1 repo is auto-tagged. The repo that was tagged happens to be the first repo that I starred.

[2017-12-12 15:48] proweb commented on #137
confirm

[2017-12-12 16:38] syropian commented on #137
I'm working on a new version of Astral that reworks how tags are edited (you can edit them right on the repo itself instead of clicking into it). I probably won't work on a fix since I'm dedicating all my time to the new version at the moment, and this is a little edge-case-ish.

[2018-01-05 00:03] DeveloperPaul123 commented on #137
I experienced the same behavior but the difference was the tag I added did not exist when I added it. So it was being created when I tagged the first repo. Then when I moved on to the next repo, the tag I had previously created was still in the tag box.

[2018-01-14 21:16] minzastro opened #153 "No way to merge tags"
Is there a way to merge two tags? Effectively, what is needed is the way to rename tag with a new name that is already among tags.
Right now I get an error when I try to do that: "There was an error renaming this tag"

[2018-01-14 21:32] syropian commented on #153
Nope, merging tags isn’t supported at this time.

Sent from my iPhone

[2018-01-24 21:43] #153 closed

[2018-01-27 12:02] egomadking opened #154 "Product idea: show if a note is attached"
There should be an easy way to tell if there is content in the note of an item. For example, a 📝  icon shows up beside all the tags that show in the li.repo

[2018-01-27 12:10] egomadking commented on #137
A quick work around that I found when organizing tags on Astral: As soon as I edit tags on a repo, I refresh the page. It takes a fraction of a second to reload and the tags don't follow me when I attempt to edit the next set of tags on another repo. It sucks to refresh, but Astral is well worth it for the value it brings to bear.

[2018-02-12 17:25] syropian commented on #154
Thanks! I've been playing with a few ideas in the v3 UI branch.

[2018-02-28 04:49] lacymorrow commented on #137
Huge bug and likely related, it seems that sometimes on "saving", incorrect tags are attributed to the next repo.

[2018-03-01 16:07] #43 closed

[2018-03-01 16:08] #11 closed

[2018-03-01 16:08] #30 closed

[2018-03-01 16:08] #40 closed

[2018-03-21 13:10] jsynowiec opened #155 "Missing favicon - favicon not displayed because it's served as text/html content-type"
Favicon is missing in Google Chrome. This makes Astral hard to find when using pinned tabs.

<img width="43" alt="screen shot 2018-03-21 at 14 08 35" src="https://user-images.githubusercontent.com/1029142/37711572-75bffb6a-2d11-11e8-9b2e-edbffda41d9d.png">

Something is downloaded though, but as `text/html` content-type.

<img width="1058" alt="screen shot 2018-03-21 at 14 11 43" src="https://user

[2018-03-21 13:34] Williams94 commented on #155
The favicon appears for me and I'm using the same version of Mac and Chrome.

[2018-03-21 13:38] jsynowiec commented on #155
Doesn't work for me.

Favicon is located at `/images/favicon-32x32.png` but in the HEAD tag it's requests from `/favicon-32x32.png`.

[code]

[2018-03-25 21:38] spencermathews commented on #137
I can also confirm this behavior. As @DeveloperPaul123 mentioned it seems to be only newly added tags that carry over to to the next item(s). I would say it's more than an edge case, however. Thanks for this excellent tool!

[2018-03-25 22:06] syropian commented on #137
Locking this thread. There's plenty of confirmation that the issue exists, and I mentioned tags are fully reworked in v3 thats on the way. As such I'm not committing any more fixes to this version.

[2018-03-28 09:30] Williams94 commented on #31
@syropian I know this was posted quite a while ago, but I'm not sure where else to contact you in regards to getting involved in this project. I have been using your app a lot in the past few months and find it very useful! Although there are a few problems I have run into, it is such a great app and getting a lot of attention even still today.

So I would love to offer my skills to help out as I

[2018-03-29 17:25] Williams94 commented on #31
Yes im definitely interested in helping out with v3! What means of communication do you want to use? If you let me know some of the parts you'd like me to work on,  I can get setup and start having a look. Then I'll be able to let you know how long I think they'll take me. Either frontend or backend stuff Im fine with, especially php unit testing if your still not keen on doing it yourself.

[2018-03-29 17:40] syropian commented on #31
@Williams94 I could make a Slack or Discord server for us, whatever you prefer. I've got a _decent_ PHP test suite going on for v3, but there could probably be some improvements, and additional bits of coverage that could still be added. As for features, a couple things I have lined up are:

 - User settings
 - Multi-select (for tagging multiple stars with a single tag)
 - Migration page (there's

[2018-03-29 17:50] m1guelpf commented on #31
Would love to help!

[2018-03-30 11:25] Williams94 commented on #31
@syropian Yeah either Slack or Discord would be good. They look like some good new features for v3! Yeah, I can set up some front-end testing as I've done it before and enjoyed it so shouldn't be a problem. My email is r.b.williams94@gmail.com so you can send me the details for your Slack or Discord channel when you get it set up. Looking forward to getting involved!

[2018-03-30 13:37] syropian commented on #31
@Williams94 Great! Just shot you an email with a link to the discord.

[2018-03-30 14:11] m1guelpf commented on #31
@syropian Maybe just post it here so I can also join? :smile:

[2018-03-30 15:29] syropian commented on #31
@m1guelpf I don't want to open up the Discord publicly, but shoot an email to `collin@syropia.net` or DM me on Twitter `@syropian` and I'll send you an invite link.

[2018-04-19 15:55] maracuja-juice opened #165 "Add website url to the repository"
I think you should put the actual url (`astralapp.com`) of your app into the `website` field of the repo.

[2018-05-16 17:02] paulwilljones opened #175 "Option to use Github topics as tags"
If a starred repo contains topics, those topics could be imported as tags to preempt tagging a repo with common tags.

[2018-05-16 17:18] syropian commented on #175
Thanks! @Williams94 , we should add this to v3 before shipping

[2018-06-14 20:55] #108 closed

[2018-07-17 13:57] AntoineTurmel opened #189 "Display badge number of Untagged Stars"
![ex](https://user-images.githubusercontent.com/119288/42821976-1bc0a602-89da-11e8-80d0-e8d0a7dadb0f.png)

Mockup ^

[2018-07-17 13:58] AntoineTurmel commented on #84
+1 for multiselect 👍

[2018-07-17 14:06] AntoineTurmel opened #190 "Astral WebExtension"
Related to #5:
Build a WebExtension to support Astral.
A first step would be to open Astral in a new tab (or switch to the opened tab) when the user star a project on GitHub for example.

[2018-07-17 14:43] syropian commented on #84
@AntoineTurmel Multi-select has been added in the `v3` branch. Thanks for reminding me to tag this issue correctly 😅

[2018-07-17 14:46] AntoineTurmel commented on #84
@syropian oh nevermind, but is it deployed at https://astralapp.com yet ?

[2018-07-17 14:52] syropian commented on #84
@AntoineTurmel Not yet, the `v3` branch is a complete rewrite and redesign of the entire app, and will be likely launching early August.

[2018-07-19 07:40] AntoineTurmel commented on #84
@syropian ok nice !

[2018-08-04 02:42] #12 closed

[2018-08-04 02:42] #84 closed

[2018-08-04 02:42] #118 closed

[2018-08-04 02:42] #120 closed

[2018-08-04 02:42] #129 closed

[2018-08-04 02:42] #137 closed

[2018-08-04 02:42] #149 closed

[2018-08-04 02:42] #151 closed

[2018-08-04 02:42] #154 closed

[2018-08-04 02:43] #100 closed

[2018-08-04 02:43] #128 closed

[2018-08-04 02:44] syropian commented on #190
Closing in favour of #5

[2018-08-04 02:44] #190 closed

[2018-08-04 02:44] #127 closed

[2018-08-04 02:45] #148 closed

[2018-08-04 14:07] syropian commented on #155
Fixed

[2018-08-04 14:07] #155 closed

[2018-08-04 14:11] syropian commented on #131
Fixed!

[2018-08-04 14:11] #131 closed

[2018-08-04 14:11] #8 closed

[2018-08-10 20:16] adalisan opened #209 "count badges for tags is not working consistently"
I can add a screenshot for this later on.

[2018-08-10 20:37] syropian commented on #209
Yeah, some context, repro steps would be appreciated 😅

[2018-08-12 03:28] adityamenon opened #210 "Notes Editor is buggy and does not work"
<img width="1270" alt="screen shot 2018-08-12 at 11 25 53 am" src="https://user-images.githubusercontent.com/640815/43998190-8a4f82b2-9e22-11e8-98c6-c4fbf03306a5.png">

When I try to add or edit notes to the repositories on Astral, I'm seeing errors that are attached in the logs. I can't really edit any of the text, and once the Notes tab is open, I can't switch between repositories either.

[app.

[2018-08-12 11:32] syropian commented on #210
Whoops, looks like a regression of some kind. Will get a fix out soon!

[2018-08-12 12:30] syropian commented on #210
This actually looks like a strange issue with CodeMirror (which the Markdown Editor uses under the hood). One of its helper functions is (somehow failing), even though when I set a breakpoint on it, all the values looked fine.

[2018-08-12 12:49] adityamenon commented on #210
@syropian I'm working in the `Guest` mode of Chrome - might it have anything at all to do with Cookies or Privacy Settings?

[2018-08-12 12:53] adityamenon commented on #210
Hmm - no. I tried on the primary laptop screen. Same errors, and the notes are not getting saved.

[2018-08-12 12:57] adityamenon commented on #210
![screen shot 2018-08-12 at 8 57 13 pm](https://user-images.githubusercontent.com/640815/44002242-565fde70-9e72-11e8-98ce-ff86c4aa8739.png)

[2018-08-12 13:05] #210 closed

[2018-08-13 08:08] RiFi2k opened #212 "Docker Image"
Any interest in having a docker or docker-compose setup. I would be willing to help, and it might help lighten your server load if people can get it rolling in a way almost everyone at this point is universally familiar with.

[2018-08-13 14:48] syropian commented on #212
Hey, sounds good! While I'm familiar with Docker, I don't know much about setting up specific containers for projects, so I'd love some help. Thanks!

[2018-08-13 14:54] RiFi2k commented on #212
I would be down to get this going for you in a branch, do you have anywhere you talk dev like a slack channel or something?

[2018-08-13 14:57] RiFi2k commented on #212
It should be pretty straight forward and easy, I was going to do it for myself personally anyways because I love the project and wanted to be able to deploy it with all my other stuff.

[2018-08-13 15:25] syropian commented on #212
@RiFi2k I've got a Discord channel -> https://discord.gg/puxy6AT

[2018-08-15 04:00] adalisan commented on #209
![image](https://user-images.githubusercontent.com/1790714/44130967-f52c8e7a-a01d-11e8-94da-d3733089a777.png)
For example the label non-code has about 10 tagged repos. No badge is shown
Also the tag icon to the left of labels are not aligned.

[2018-08-15 12:10] syropian commented on #209
Thanks! The styling issue should be a fairly easy fix. The count issue seems like a weird one, I’ll be sure to look into it.

[2018-08-15 18:25] syropian commented on #209
@adalisan Are your `non-code` tags actually persisting on refresh? Oddly enough I did a search through the DB and while I found your tag, I do not see any stars associated with it.

[2018-08-15 18:58] syropian commented on #209
@adalisan This is slightly annoying but could you remove your non-code tag from all your stars and try again? I just pushed a fix.

[2018-08-23 02:38] farant opened #216 "Case insensitive sorting of tags"
This is a really cool project!

At the moment tags in the sidebar are sorted with uppercase letters having a higher precedence than lower case letters. So tags beginning with a capital letter are at the top followed by tags beginning with a lower case letter.

It would be nice if the sorting was case-insenstive throughout the word. If all tags could be sorted based on their lowercase version for e

[2018-08-23 14:18] syropian commented on #216
Good catch, will get this fixed soon 👍

[2018-08-26 18:44] syropian commented on #216
Fixed in 58a9b24

[2018-08-26 18:44] #216 closed

[2018-08-28 12:19] #209 closed

[2018-09-10 16:19] TPS opened #220 "RFE/C: Mobile Interface"
Per @syropian @ https://github.com/vfeskov/gitpunch/issues/51#issuecomment-419970014,

This request is to do so, on some level.

[2018-09-10 16:28] TPS commented on #220
I suppose most of us would assume what I did (from the screenshots): it needs to be hosted someplace, & so is essentially a developer (not end-user) tool.  I'd no idea you were hosting it @ all!

[2018-09-10 16:29] syropian commented on #220
Yep! The option to self-host is there, but the hosted service is by far the most popular option that people lean towards.

[2018-09-10 16:34] TPS commented on #220
If 1 knows it exists!  How 'bout a note toward the top of the site someplace:

[2018-09-10 16:37] syropian commented on #220
@TPS Hm, to me it seems obvious people know about the hosted option, simply by the amount of activity the app gets. There's links to the GitHub, and Twitter on the marketing site and app if people want to file issues regarding mobile. It just isn't something that's come up.

[2018-09-12 06:56] tarol opened #221 "notes save button instead of autosave?"
If i use input methods (e.g. Chinese input method) .
Now i input 'shi', when i choose the word, the editor will save 'shi'.
Then i choose '是',  'shi' will be replaced by '是'.
After that, the save request has been responsed, and editor will commit the action named SET_STAR_NOTES, so 'shi' will replace '是'.
At last, i get 'shi' but not '是'.

[2018-09-12 13:37] syropian commented on #221
Interesting! I never considered such input methods. I think I’ll keep autosave for now, but I’ll also include a manual “Save” button too.

Sent from my iPhone

[2018-09-13 03:41] tarol commented on #221
Or cancel the sync after respond.

[2018-10-03 04:03] runofthemill commented on #139
Here's another repo where it's happening:
https://github.com/zyedidia/micro

<img width="1552" alt="screen shot 2018-10-02 at 9 02 56 pm" src="https://user-images.githubusercontent.com/8418440/46389429-8d19dd80-c686-11e8-8aa7-da87fc1fa88b.png">

Image source:
```<img src="./assets/micro-solarized.png" alt="Screenshot" style="max-width:100%;">```

[2018-10-03 13:58] syropian commented on #139
Thanks! I've put this off for quite a while, hoping to dig into it soon.

[2018-12-11 02:27] zuiyangqingzhou opened #229 "close note autosave"
How can I just close note autosave?
because I do want to see  frequent pop-ups  to tell me 'note saved' when I type some notes，I just need the notes save button to save notes.

[2018-12-11 04:54] syropian commented on #229
I’m not 100% sure what you’re asking, but you can’t currently turn off note auto-saving.

[2018-12-11 06:39] zuiyangqingzhou commented on #229
Thank you for your reply. I have successfully deployed the code on my own server, but When I record notes in Chinese, auto-saving often causing input problems, just like #221 , so I want turn off note auto-saving, just use save button.

[2018-12-11 13:03] syropian commented on #229
Even if the auto-save is not saving the correct contents, manually hitting the Save button should be though right?

[2018-12-11 14:35] zuiyangqingzhou commented on #229
First of all, thank you for your patience.
Yes, the save button is right, so I  am very much looking forward that you can  add a setting to toggle it off.
Forgive my lame English, I hope you can understand what I mean.

[2018-12-11 15:04] syropian commented on #229
No problem, your english is fine!

[2018-12-11 15:08] zuiyangqingzhou commented on #229
Haha, thank you for your compliment, I will close the issue.

[2018-12-11 15:08] #229 closed

[2018-12-11 23:06] #221 closed

[2018-12-11 23:09] syropian commented on #229
@zuiyangqingzhou You can now turn off notes auto-saving in your Settings panel 😄

[2018-12-12 02:00] zuiyangqingzhou commented on #229
I am astonished by your efficiency, I have tried it with excitement, everything is ok now. show you respect

[2018-12-19 15:34] vesper8 opened #232 "import existing stars/tags when self-hosting"
I've been using this app for almost 3 years so I have over 1000 stars and lots of tags. Today I decided to try the self-hosted solution so I could learn the codebase and possibly add improvements and PRs

Everything works fine and I am glad it loaded my existing Astral data. However I noticed it didn't populate my mysql database with all my existing stars and tags

Thanks to the json export I see

[2018-12-19 15:37] vesper8 commented on #232
Now that I think of it.. how is it possible that the self-hosted version has all my hosted tags information ?

I understand the stars are pulled directly from Github.. but what about the tags? Did my self-hosted installation pull them from the hosted version's API somehow?

What happens when I add new tags and tag new/existing stars.. will this information now be logged in both my self-hosted and

[2018-12-19 15:42] syropian commented on #232
Uh, your self-hosted version has all of your tags? Are you sure you aren't confusing them with the language tags? Those are generated automatically and inferred from your list of stars.

As for importing, I haven't created a solution yet, but it's on my radar. Would definitely make the transition smoother for people moving to a self-hosted solution 👍

[2018-12-19 16:21] vesper8 commented on #232
Yes.. @syropian I noticed that it was the language tags.. and then I edited my issue text.. but I guess you saw the original :)

And I just built the import command : ) and it works wonderfully! My coding is probably not up to your standards so I won't create a PR.. but feel free to use this script to add this functionality of course!

usage: php artisan astral:import vesper8_astral_data.json

[co

[2018-12-19 16:23] vesper8 commented on #232
now I can move on to try and get the "select all" functionality working that I'm craving for.. currently you can only select multiple by clicking one at a time while holding shift.. and you can't unselect without losing all of your selections

Plus.. it seems like tagging multiple selections at once isn't working.. it only tags the first even if you drag multiple on top of a tag. I saw issues that

[2018-12-19 16:33] vesper8 commented on #232
I feel like I could perform a whole lot of automatic tagging based on the title (and possibly description) of the repos.. and this would be useful to me. But in order to do that efficiently it would be best if the title and descriptions were stored in the database.. as opposed to just the repo_id. I understand the title and description can change.. but even with that in mind, I think it would be u

[2018-12-19 16:52] vesper8 commented on #232
Just discovered this magic 'autotag_topics' system.. couldn't find any way to enable it from the settings or anywhere in the code.. it looks like the only way is to set the value manually in the mysql table.. which I did.. and very neat! It created over 3000 tags from my ~1300 stars.. lots of noise and not quite perfect.. but now I understand I can start from there to add some of my own logic. I s

[2018-12-19 17:06] syropian commented on #232
Thanks for the auto-import script! I'll definitely take a look.

Auto-tagging has been something I work on, on and off, and I never really end up with a solution that I like. It either creates too much noise, or does so much work I'm always a little bit terrified I'll overwork the DB when its applied to a production environment. It's a tough problem, because everyone would likely want it to work a

[2018-12-19 18:42] vesper8 commented on #232
Here is the approach I am planning to take to autotag in a way that I like

Haven't decided on how I will write the logic yet, but this is the result I think will work well.

I want to be able to add tags manually and then mark some of them for auto-tagging. For example I would add 'Laravel' and Vue' as two tags that I want autotagging performed on. So I could have a dozen tags, 10 of which aren't

[2018-12-19 18:51] vesper8 commented on #232
Also if you're worried about doing too many inserts with your current autotagging logic, a valid concern IMO, then you could look into implementing a bulk insertOrUpdate. I use this in a lot of my projects where I tend to bulk insert 500 rows at a time. It's nice because it also correctly handles duplicate constraints

This is my QueryBuilder trait that I add to my models to be able to do bulk ins

[2018-12-19 19:40] syropian commented on #232
It's an interesting thought! Some people tend to want bulk tag creation **and** application. i.e, they'd rather (at least initially) create less tags themselves, and just have tags auto-created and applied as the stars come in. That can get a bit tricky, and the insert counts to build up for people with a lot of stars.

That trait looks pretty cool, I'll definitely try it out once I get back on wo

[2019-02-15 00:10] #139 closed

[2019-03-04 14:06] w00p opened #241 "Whoops, something went wrong on our servers."
Hi. When i try to log in on https://app.astralapp.com i get a error 500. Any clue?

[2019-03-04 14:43] syropian commented on #241
Hi, thanks for reporting! I actually had an unchecked log file that was eating up almost all of my server's space, so things were slowly shutting down 😅

Should be fixed now, let me know if you have any further troubles.

[2019-03-04 17:23] #241 closed

[2019-03-04 18:58] w00p commented on #241
Awesome work man! Work fine now :D thank you!

[2019-03-10 13:48] przemoc opened #242 "Support GitHub topics"
Please consider adding support for GitHub topics.

Don't mix them with user's tags, as they're something different.
Topics are like creators' tags, so they should remain being discernible from user's own tags.

It's so regrettable that GitHub's stars page (`https://github.com/stars`) is so limited.
It not only lacks filtering by topics, it even doesn't show them.

Fixing these things via Astral wi

[2019-03-10 14:03] syropian commented on #242
Can you go into detail about how you imagine using topics within Astral? Where do you expect to see them?

[2019-03-10 16:22] przemoc commented on #242
In the nutshell, the same way as tags. I insist to keep them separate, because they're origin is different. And creators sometimes add more topics (or change existing ones) when projects evolve, so it's not a one-time import, but should be updated from time to time.

I would expand Stars sections and add:
    * Stars without topics
These are the ones most likely requiring some tagging, as not even

[2019-03-10 16:30] przemoc opened #243 "Editing tags has wrong UX. Comma should not be required before hitting Enter key."
When I click Edit Tags, write tag name and hit Enter, editing box disappears and no tag is added.
I have to write comma before hitting Enter, which is completely unintuitive.

[2019-03-10 16:35] przemoc opened #244 "Added tags can be lost when session timeouts"
I experienced it once so far, so cannot provide exact details, but I added 2 tags (1 for one project, 1 for another project), the tab in browser was left untouched for longer time and when I logged back again, the tags weren't there.

[2019-03-10 16:41] przemoc commented on #243
If tag name refers to an existing one, then completion shows up, so Enter does the job.
The issue is observed when we're creating new tags, which is a common use case for new users.

[2019-03-10 16:53] przemoc opened #245 "Support compact style in sidebar"
Please consider supporting compact style in sidebar. That would lessen screen real estate used per each item in the sidebar. Current style seems quite wasteful.

[2019-03-10 17:15] przemoc opened #246 "Session should not timeout when site is actively used"
I just experienced astral start screen with sign-in button in the middle of editing tags.

[2019-03-11 20:00] syropian commented on #244
That sounds a little suspicious, as soon as you blur out of the editor or hit "Enter" tags are immediately saved on the backend. If you mean you added some tags in the editor without saving, then refreshed, and they were gone well...that would happen regardless of session state 😅

I think I'll close this in favour of #246 which covers a more generic case of session timeouts and their caveats.

[2019-03-11 20:00] #244 closed

[2019-03-11 20:04] syropian commented on #245
I'm not 100% sold on the need for this. Spacing is important for breathability, and this could set a bad precedent for adding a "compact" mode to everything that has a pleasant amount of spacing.

[2019-03-11 20:06] syropian commented on #246
Yeah, I got a little lazy with the auth mechanism, where I'm skipping fetching refresh tokens, and just always let the JWT TTL expire, and then force a manual reauthentication. I'm going to be getting Astral updated to Laravel 5.8, which is pretty much just waiting on the `jwt-auth` package to become compatible, so I'll probably look into this shortly after the upgrade, as it's pretty annoying.

[2019-03-11 20:07] syropian commented on #243
@przemoc Thanks, this should be a relatively easy fix.

[2019-03-11 20:11] syropian commented on #242
I experimented including topic tags a while back, and while I can see the usefulness, I remember there were a _ton_ of topics, many which were _slight_ variations of each other.

[2019-03-23 19:56] syropian commented on #243
Fixed in 8cb2723ee9c81ba0e13154756907d203b2920655

[2019-03-23 19:56] #243 closed

[2019-03-30 19:36] przemoc opened #255 "Adding tags doesn't seem to work"
Using Edit tags, inputting tag name, hitting Enter once, and then second time, doesn't lead to truly adding the tag. It is only shown in UI until chosen category/tag isn't changed.

Please check following animated gif:
![example](https://i.imgur.com/5BLJnMx.gif)

[2019-03-30 19:41] syropian commented on #255
Hm, I just tried this myself and it worked just fine. Any console errors?

[2019-03-30 19:47] przemoc commented on #255
No errors. Did you test existing using tag name?

It seems that UX is different (so I suggest fixing it too) when using existing tag vs non-existing tag.
When it doesn't exist, one Enter is enough, i.e. it lefts whole editing tags UI. And tag is indeed added.
When it does exist, I need to press Enter second time, because first time it only confirms tag name (adds it to the list) and I remain in ed

[2019-03-30 19:57] syropian commented on #255
Yes, I tried testing with an existing tag, just like you did.

The UX is intentionally different, because you need to hit enter to confirm the autocomplete item of an existing tag vs adding a new arbitrary tag.

Here's a GIF of it working correctly:

![Kapture 2019-03-30 at 15 56 31](https://user-images.githubusercontent.com/749061/55281023-7b975280-5304-11e9-98b3-5ba0625c3a83.gif)

[2019-03-30 20:11] przemoc commented on #255
Ok, I have no idea why it works for you, while it doesn't for me.

(Regarding UX, when tag exists, you can add more tags, because you're not leaving Editing Tags UI, but when tag doesn't exist, you need to click Edit Tags again. I kind of like 1-Enter, but it makes UX inconsistent, so I think Enter for completely new tags should work more like comma, allowing user to input more tags.)

Oh, after s

[2019-04-02 15:49] syropian commented on #255
Closing for now but I'll keep an eye out for this

[2019-04-02 15:49] #255 closed

[2019-04-08 14:25] syropian commented on #246
Fixed in #254

[2019-04-08 14:25] #246 closed

[2019-04-09 13:28] caccavale opened #256 "Infinitely duplicating stars under the untagged category"
Astral is loading forever by repeatedly adding all my stars to the untagged stars category resulting in duplicates and making the app useless.  As an example:
![image](https://user-images.githubusercontent.com/6198074/55804139-07b33200-5adc-11e9-852b-2a9763957d8d.png)

[2019-04-09 14:04] syropian commented on #256
@caccavale Can you try hitting the "refresh" button? That will bust your cache entry and refetch your stars

![refresh](https://user-images.githubusercontent.com/749061/55806721-d40de300-5aae-11e9-8895-c8ae8504f408.png)

[2019-04-10 08:45] caccavale commented on #256
Hey thanks for the quick response.  An aside: I really like the project so I'm hopeful I can use it :upside_down_face:, its funny that the same reason I want to use it might be the problem: to many stars.

Did a refresh of my stars and watched console got some errors:
![image](https://user-images.githubusercontent.com/6198074/55864844-8c09c180-5b7d-11e9-9b4c-50b7dfa7e25d.png)

It seemed to stop re

[2019-04-10 08:49] caccavale commented on #256
Just attempted another refresh after I let the page load for a bit.  The same two console errors came up when my `Untagged Stars` reached about 3000 or 1/2 my total stars.  No idea if that is relevant but the page had been refreshing for a decent while.

[2019-04-10 08:53] caccavale commented on #256
After the errors the page ends up stuck with ~1/2 of my stars being `Untagged` when in reality all by 5 are untagged.  I'm assuming this puts it into a state when refreshing the page triggers the original bug.

[2019-04-10 08:56] caccavale commented on #256
:upside_down_face: Another refresh of the page and then clicking to reload the stars moves progress to
![image](https://user-images.githubusercontent.com/6198074/55865714-3f26ea80-5b7f-11e9-84f6-15f6413ca6ce.png)

[2019-04-10 13:15] syropian commented on #256
So I have a couple guesses what the issue could be:

1. All stars get cached with memcached as they get pulled in, so that subsequent reloads are fast. Each memcached entry has a 1mb limit, so there is a chance you're stars actually don't all fit in in the cache object
2. Something with GitHub's API. I checked the server logs and noticed some errors coming back right from the GitHub API, but there

[2019-04-12 17:29] caccavale commented on #256
Don't worry about it!  Astral is really cool and your work is greatly appreciated.  I'm not surprised my dumb amount of stars is presenting itself as an interesting test case.  I'll try and get it working locally and maybe ask some more questions in the process.

[2019-04-26 13:09] temrix opened #257 "500 Server Error"
When trying to `Export Stars As JSON` your server gives me an internal server error.

[2019-04-26 13:26] syropian commented on #257
Whoops, looks like it broke somehow. I'll take a look later this evening, thanks for reporting!

[2019-04-26 21:45] syropian commented on #257
Fixed in 653347468ce40c1dd841251763b19777207adcec

[2019-04-26 21:45] #257 closed

[2019-05-07 16:32] temrix opened #258 "Empty JSON array when exporting stars"
When exporting stars as JSON on the server, the file I get back is only an empty JSON array.

[2019-06-08 03:55] selfagency opened #259 "Feature request: Versions and outdated notices"
It'd be awesome if you could add to the list view the current release number of the repository as well as some kind of indicator to let you know whether the project hasn't been updated in over a year or whether it's been archived by the owner. Something like this maybe? You could also save some real estate by replacing the `View on Github` link with an icon.

![Screen Shot 2019-06-07 at 11 35 04 P

[2019-06-10 13:42] syropian commented on #259
👍  This would be a nice update for sure!

I'm probably going to be livestreaming some Astral work at some point this week, and I think it would be a good item to include. Thanks!

[2019-06-11 16:08] selfagency commented on #259
Sweet. A couple more ideas related to this: Maybe add a link in the sidebar to view all outdated repos.

And bring. back. unstarring. 😉

[2019-06-11 16:18] syropian commented on #259
Ha, the reason unstarring is gone is mostly due to how bad GitHub's OAuth permissions are. Essentially I can't add unstarring without requesting full read/write access to the user's repos, which is less than ideal.

[2019-06-11 16:20] selfagency commented on #259
Hrm, are you sure that's still the case? The API docs only say the user needs to be authenticated, not that you need full access to their own repos.

[code]

[2019-06-11 16:24] selfagency commented on #259
Scope docs says you already need full access to public repos for starring.

[code]

[2019-06-11 16:25] selfagency commented on #259
Obviously you know better than me but I'm just wondering if that's changed at all.

[2019-06-11 16:25] syropian commented on #259
Exactly, which means you likely need _at least_ `public_repo` to unstar as well. Remember, Astral pulls down starred repos, but it doesn't actually star them.

[2019-06-11 16:25] selfagency commented on #259
That's fair. You could always give the user the option with a privacy warning...

[2019-06-11 16:26] selfagency commented on #259
I've feel like I've given much shittier apps much more access.

[2019-06-11 16:27] syropian commented on #259
Yeah I think I could add a scope column on the user table and allow them to "upgrade" their permissions to allow for unstarring. I'll certainly look in to it!

[2019-06-25 15:29] syropian commented on #259
Versions and archived notices have been added. I'm pushing the concept of "outdated" to a new "custom filters" feature that I will eventually be building.

[2019-06-25 15:29] #259 closed

[2019-07-05 10:17] dry11orange opened #266 "Installation error"
When open my host url with chrome
Fatal error: Class 'Illuminate\Foundation\Application' not found in D:\user_root\code\github\astral\astral\bootstrap\app.php on line 14

The installation is difficult for me
But I'd love to set up my own server locally

When you release
Could you provide an additional HTTP server side zip?

[2019-07-05 12:56] syropian commented on #266
Sounds like something went wrong with your initial installation. Try:
[code]

If that doesn't work I would try re-cloning it.

[2019-07-05 23:42] dry11orange commented on #266
php artisan astral:install
...
Github Client Callback URL [https://astral.test/auth/github/callback]:

Which url should I use as the callback?

[2019-07-06 01:26] syropian commented on #266
You can use the default, as long as your local domain is `astral.test`. If not just just change it to whatever your local domain is.

[2019-07-06 10:51] syropian commented on #266
Closing since the original issue seems resolved

[2019-07-06 10:51] #266 closed

[2019-07-10 22:44] dyslexicon opened #267 "Tag renaming functionality not case sensitive"
For example, when renaming the user-named tag from _Vue_ to _vue_, the modal pops up and says: "Vue tag renamed to vue!", but it doesn't actually change the tag name, it remains _Vue_.

[2019-07-11 15:57] syropian commented on #267
Thanks for the report! Will push a fix for this later this evening.

[2019-07-11 21:50] syropian commented on #267
Fixed in 5f37c55

[2019-07-11 21:50] #267 closed

[2019-07-19 00:24] #5 closed

[2019-07-19 00:24] #7 closed

[2019-07-19 00:24] #9 closed

[2019-07-19 00:24] #10 closed

[2019-07-19 00:24] #14 closed

[2019-09-09 17:15] Xianmua opened #281 "I cant login astral with my github account"
Error in the js console:
![image](https://user-images.githubusercontent.com/30331754/64551234-29ecfc80-d367-11e9-9a12-91c3050d5ea7.png)
when I try to login astral with my GitHub account, the website displays that it's fetching GitHub stars. Then it auto jumps to the "sign-in " page again. I am confused about it...

[2019-09-09 17:48] syropian commented on #281
Hm, not sure what's going on, but maybe try going to `https://app.astralapp.com/logout` manually in your browser. If that doesn't work I'll try clearing your auth token and you can try again.

[2019-09-10 00:20] Xianmua commented on #281
At first, I try to unstar some repositories on astral，but it doesn't work ... So I unstar some repositories on Github. After I refresh the page,  the contents of GitHub stars on astral still doesn't change...So I revoke the GitHub access of astral and reauthorized it. Then I can't log in my astral account. It seems that the website can't fetch the contents of GitHub stars. When it's trying to fetc

[2019-09-10 00:38] Xianmua commented on #281
![2](https://user-images.githubusercontent.com/30331754/64575395-3a709780-d3a6-11e9-8872-f8c4d165edf0.gif)
just like this

[2019-09-10 13:43] syropian commented on #281
I'm going to clear out your current auth token. I've recently switched some of the auth mechanisms around, and you might have got stuck in a weird state.

[2019-09-10 14:12] Xianmua commented on #281
Now it works, thanks for your help :)

[2019-09-10 14:31] syropian commented on #281
Awesome! Glad to hear it 😄

[2019-09-10 14:31] #281 closed

[2019-09-12 16:28] llagerlof opened #282 "Filter by "Star Count" not saving the "number of stars" field value."
When I try to save a Star Count filter, it always reset to 0 (zero) after saving.

[2019-09-12 16:59] #282 closed, assigned to syropian

[2019-10-03 13:37] geoah commented on #242
I'd be interested in using topics to create some form of smart tags or filters.

ie. My astral tag `kubernetes` could include topics that match any of:

* `kubernetes*` (because of topics such as `kubernetes-cluster`.
* `k8s*`
* `k3s*`
* `helm`

[2019-10-03 14:20] syropian commented on #242
I could probably add this to the custom filters - I'm hoping including the topics on every star doesn't increase the response time too much.

[2019-10-06 18:57] seangwright opened #284 "UX problem on Firefox Android browser"
I am not sure what to tap on or what gesture to use in Firefox for Android browser to see my list of started repos.

Here is a screenshot of what I see after logging in:

![Screenshot_20191006-145406](https://user-images.githubusercontent.com/1382768/66274140-6f5af780-e849-11e9-8aa8-16aba84255a7.png)

I can't zoom out any further and I can't get the left tray to collapse.

I love the idea of this

[2019-10-06 20:33] syropian commented on #284
Hey Sean, Astral doesn't currently support mobile devices, since it's a lot of work for very little gain.

[2019-10-06 20:33] #284 closed

[2019-11-01 01:12] yaobo-lab opened #286 "refresh Starts BUG"
![QQ截图20191101084749](https://user-images.githubusercontent.com/21329253/67995862-b214c180-fc87-11e9-9105-0eb003c74648.png)

when i refresh Starts . it loading all day...

[2019-11-01 01:13] k-yaobo commented on #286
I urgently need this thing.

[2019-11-05 08:42] franky47 commented on #255
I have had issues entering tags, and by looking at the network tab in devtools, the operation is not commited (`PUT /api/star/tags`) when validating the list of tags with Enter. It is commited when clicking anywhere else in the UI though, which makes quick tag edition difficult using combinations of Tab + Enter.

[2019-11-06 02:17] yaobo-lab commented on #286
![QQ截图20191106101632](https://user-images.githubusercontent.com/21329253/68262586-ab6abd80-007e-11ea-9458-e66e879aaf0b.png)
![QQ截图20191106101640](https://user-images.githubusercontent.com/21329253/68262588-ac9bea80-007e-11ea-951e-7ddd181eb567.png)

[2019-11-06 14:38] syropian commented on #286
I'll try and take a look soon. FWIW this essentially happens every 2 hours by itself.

[2019-11-06 19:33] cnnblike commented on #212
Hi, do we have an update on this? I'm planning to do this on my own, but if you have already done so, I would be more than happy to use officially maintained docker image.

[2019-11-06 19:53] syropian commented on #212
@cnnblike I have virtually no experience setting up Docker containers, but would be more than happy to accept a PR if you're interested in tackling it. Thanks!

[2019-11-09 12:45] aminya opened #287 "Unstar has no effect"

[2019-11-12 01:01] yaobo-lab commented on #286
hi...this bug is For too long . i need you help

[2019-11-12 01:19] syropian commented on #286
Like I mentioned, I'll get to it when I have time.

[2019-11-12 14:36] syropian commented on #286
Unfortunately I'm having some trouble reproducing your problem. I tried refreshing my own stars and everything was working fine. Could you reproduce the issue once when you can so I can check the server logs?

[2019-11-12 14:37] syropian commented on #287
Yeah this is my bad, I meant to keep the Unstar button hidden while I still work on some tricky cache-related issues with it.

[2019-11-13 01:19] yaobo-lab commented on #286
you can check server logs . i found thant  https://app.astralapp.com/api/stars/github http have a 500 error
![QQ截图20191113091924](https://user-images.githubusercontent.com/21329253/68724517-bda4a880-05f6-11ea-92c8-087a5646739e.png)
![QQ截图20191113091929](https://user-images.githubusercontent.com/21329253/68724521-bf6e6c00-05f6-11ea-910b-464ac78f1864.png)
![QQ截图20191113091935](https://user-images.gi

[2019-11-13 19:24] syropian commented on #286
It looks like your access token got stuck in a weird state where the GitHub API thinks it's invalid on refresh. I've went ahead and cleared your current token out, so you'll need to log out, and log back in and I _think_ it should work.

[2019-11-14 01:23] yaobo-lab commented on #286
is that ok。it Can run normally。thx

[2019-11-14 01:28] #286 closed

[2019-11-21 12:03] telco2011 opened #288 "Will it be a version to manage tags for gitlab repositories?"
It would be awesome it astral could manage more repositories than Github. Gitlab is a great platform as well.

[2019-11-21 14:35] syropian commented on #288
Currently no plans to support GitLab, as I think it's use would be pretty minimal compared to the effort required to support it. (I've never "starred" a GitLab repo in my life 😅 )

[2019-11-21 14:41] telco2011 commented on #288
As it's said, there is always a first time ;-)
Thanks for your answer.

[2019-11-21 14:41] #288 closed

[2019-12-07 13:39] soredake commented on #256
Same problem with 6.6k stars

[2019-12-13 07:11] kjnez opened #289 "Forced logging out when creating a tag named "SLAM""
I wanted to create a tag named "slam", and figured out that I couldn't.

[2019-12-13 13:51] syropian commented on #289
Do you mean a tag? I am able to create one named `slam` no problem

[2019-12-14 03:11] kjnez commented on #289
Yes, it's the tab. I still have this problem, though. I'm testing using Firefox in Linux. Whenever I create a tag named "SLAM" or "slam", I'm logged out.

[2019-12-14 03:12] kjnez commented on #287
I'm also have the same issue.

[2020-01-04 02:10] cooldesigns opened #291 "[Feature Idea] Electron App"
I want it. <3

[2020-01-04 23:13] cooldesigns opened #292 "No responsive on mobile"
I use hosted version. It's not responsive on my phone.

[2020-01-05 00:26] syropian commented on #292
It's not supposed to be :)

[2020-01-05 00:26] #292 closed

[2020-01-26 16:40] mglowacki100 opened #293 "[Bug] sorting TAGS when there is no defined TAGS"
I'm new user, so I don't have any tags.
When I click SORT near TAGS, astralapp goes into "sign in" screen.
Subseqently pressing "back" on browser, astrall goes back to dashboard but number of "untagged stars" is doubled.
Solution proposal: SORT should appear when at least one TAG is defined.

[2020-01-26 17:05] mglowacki100 opened #294 "[Feature idea] additional view in UI"
Now, there is a vertical list of repos with preview on the right side.
The idea is to add additional view of repos, more like in Pinterest, namely grid instead of list. Preview could be done as popup window. In such way, it is much easier to scan for repos.
Views can be switched by button close to search field.
Slightly different approach: witdh of the list can be adjusted and when there is enough

[2020-04-13 03:34] davidkarim opened #306 "Main site broken"
Just wanted to point out that app.astralapp.com is currently displaying a 503 service unavailable. Perhaps due to the recent update I see that was done today to master.

[2020-04-14 04:39] feisher opened #307 "hosted version not available"

[2020-04-14 06:27] Spoon94 opened #308 "503 status code"
The  service of https://app.astralapp.com/ return 503(Service Unavailable). Please fix it as soon as possible.

[2020-04-14 08:19] jonathanwiesel commented on #308
Seems like a duplicate of #306

[2020-04-14 08:19] jonathanwiesel commented on #307
Seems like a duplicate of #306

[2020-04-14 11:34] #307 closed

[2020-04-14 11:35] #308 closed

[2020-04-14 11:35] syropian commented on #306
Thanks for the report, it's back up now.

[2020-04-14 11:35] #306 closed

[2020-04-18 17:47] searchingforpants opened #309 "Forced logoff immediately upon login"
As of yesterday, every login attempt to [https://app.astralapp.com](https://app.astralapp.com) results in an immediate forced logoff. This is regardless of browser and after clearing cache.

With developer tools open I can see a GET to [https://app.astralapp.com/api/stars/github?](https://app.astralapp.com/api/stars/github?) returning a 500 error.

Portions of the API that don't seem to rely on Gi

[2020-04-18 21:17] syropian commented on #309
Hey, thanks for the report.

Normally you can clear your access token in the user settings modal by using the Revoke Access button but since you can't log in, I can manually clear it for you

[2020-04-19 03:07] searchingforpants commented on #309
Thanks, I just tried logging in again and the behavior hasn't changed as far as I can tell.

[2020-04-19 15:16] syropian commented on #309
Hm, that's odd. I'm still not seeing an access token on your account. I would try revoking access to Astral in your own GitHub settings, and then trying to re-log in to Astral.

[2020-04-19 15:50] searchingforpants commented on #309
That did the trick! I'm able to log in without issue now.

Just for future reference, revoking and re-authorizing ("Settings" > "Applications" > "Authorized OAuth Apps") was one if the first things I tried before you cleared my token server-side, but on its own it was not enough.

[2020-04-19 15:50] #309 closed

[2020-05-03 16:29] KenjiTakahashi commented on #212
FYI, I have created myself a Docker image for Astral. It contains few rather opinionated changes, so I'd say it cannot be directly copy pasted, but can perhaps serve as a basis for someone. https://github.com/Kdockerfiles/astral

[2020-05-05 04:48] selfagency opened #310 "[Feature Request] Keep data in localstorage or indexeddb"
Hello again,

I remain a big fan of Astral after all these years. But it's a genuine pain in the ass to have to wait for all my stars to reload every time I open the app. This could be remedied by storing data in localstorage/indexeddb/etc. and pinging for updates to the user's stars, rather than reloading them every time the page is loaded.

Please consider in a future update!

[2020-05-05 13:25] syropian commented on #310
Stars are actually cached for 2 hours at a time, bit I agree that a more persistent solution would be nice. I've toyed with using localstorage before, and though there were some minor issues it worked pretty well, but it just never shipped. My only concern is hitting size limits (localstorage is around 10mb I think?).  I know there are some users who have upwards of 6,000 stars and I'm worried tha

[2020-05-05 18:00] selfagency commented on #310
Thanks!

IndexedDB has a 50mb limit, for what it's worth.

[2020-05-05 18:11] syropian commented on #310
Indeed, I’ll need to find a good way to keep a Vuex store (or at least a slice of one) synced up with whatever browser storage engine I use. I’ve done it successfully with regular ol’ localStorage but I’ve never tried with IndexedDB. I’ll certainly look into it!
On May 5, 2020, 2:01 PM -0400, Daniel Sieradski <notifications@github.com>, wrote:

[2020-05-05 18:13] selfagency commented on #310
Use [vuex-persist](https://www.npmjs.com/package/vuex-persist) with [localforage](https://www.npmjs.com/package/localforage).

[2020-05-05 18:18] syropian commented on #310
Yeah that seems like the best option from my cursory research as well 👌🏻
On May 5, 2020, 2:13 PM -0400, Daniel Sieradski <notifications@github.com>, wrote:

[2020-05-05 18:19] selfagency commented on #310
I actually use that configuration regularly in my own frontend projects

[2020-05-05 19:06] syropian commented on #310
@selfagency Good to know, I may bother you if I have any questions 😄

[2020-05-19 03:09] FunnyWolf commented on #309
i have the same issue ,but i still can not login in after revoking and re-authorizing ("Settings" > "Applications" > "Authorized OAuth Apps")

[2020-05-19 13:03] syropian commented on #309
@FunnyWolf Thanks, I'm actually running into the same thing on my own account as well! I'm still not sure what's going on, but I'll dig a little to try and find the root cause.

[2020-05-19 16:44] syropian commented on #309
I just pushed a change that clears your access token if GitHub ever ends up returning a 401 — this should at least prevent the loop of trying to login and immediately getting kicked back out.

[2020-05-27 09:57] schmurfy commented on #132
I know this issue was open a long time ago but I would love to see that as well.
is it feasible ?

[2020-06-03 17:20] yangkennyk opened #315 "Is it possible to pull data from API?"
Is there anyway to pull my tagged data from an api on the web version?

[2020-06-13 15:46] #315 closed

[2020-08-15 17:48] syropian commented on #293
Thanks for the report! This should be fixed now.

[2020-08-15 17:48] #293 closed

[2020-08-30 20:09] mr-shitou commented on #141
is this possible use personal-access-token
https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token
plus, i think it's not necessary to access all user date, maybe just public data only can do the tag function.
and other repo do it use gists, maybe a good way

[2020-10-03 09:05] unsync commented on #212
Hi,
i also made this POC to host Astral on docker, using mariadb as storage.
feel free to improve it !
https://github.com/unsync/astral-docker

[2020-10-04 14:27] syropian commented on #212
@unsync This looks great! Would you be willing to PR this to the main repo?

[2020-10-04 15:13] unsync commented on #212
@syropian with pleasure !
Where would you want it, all files in a /docker folder ?

[2020-10-05 06:30] unsync commented on #212
https://github.com/astralapp/astral/pull/323

[2020-10-05 20:31] googol88 commented on #165
Looks like `astralapp.com` is already in the website field of this repository. Should this issue be closed then?

[2020-10-05 22:20] #165 closed

[2020-10-05 22:20] syropian commented on #165
@googol88 Good eye, closing!

[2020-10-08 01:34] andyconlin commented on #30
Hi @syropian! Is there any interest on the dev side for a public API these days? I'd be interested in working on a browser extension for easy access to Astral data while on github.com websites. And if not already planned, would you be open to an API if there was an interested contributor?

[2020-10-11 04:19] syropian commented on #30
@andyconlin It's something I've wanted to eventually get to, but I haven't dug into the research on how to build a proper public API yet. If you do know of an interested contributor, please feel free to point them my way, I'd be happy to work with someone who has more experience than my building APIs 😅

[2020-11-04 07:38] Ray-Eldath commented on #315
Are there any public REST-based API plan now or in the near future...? I am eager to create a CLI tool to export user's stars data into a Markdown file categorized by Astral tags, it'll be much easier and convinent if there's EST-based API. 🤔

[2020-12-07 16:04] huuyafwww opened #326 "Support responsive display."
Hello. I am a Japanese engineer. Please forgive me if my English is not good. I would like to contribute to this software. I'm using it on a self-hosted private server, and as the title says, I want it to be responsive.
Is it permissible for me to contribute and support this software?

[2020-12-07 16:06] syropian commented on #326
Hi! If you're running your own fork on your own server you are absolutely welcome to make any changes you like, and if you feel your changes are good enough that they could make it into the core, I'd be happy to take a look when it's ready.

[2020-12-07 16:13] huuyafwww commented on #326
Thanks for the quick reply. I'll make a pull request for smartphone screens in the near future then.
I'd be glad to have you check it out at that time!

[2020-12-10 19:39] wikiccu opened #327 "Translation for persian language farsi"
Hello
I would ask you is there any plan for translation to the Persian/farsi language ?

[2020-12-10 19:43] syropian commented on #327
Hey @wikiccu, translations in general are on the roadmap, but I don't really have an ETA. Once I get a core translation library implemented would you be interested in contributing a translation? If so, I will be sure to ping you at that time.

[2020-12-10 20:06] wikiccu commented on #327
Hi @syropian Sure I'm ready for it.

[2021-01-09 21:10] tomershvueli commented on #132
I would also like to see this update! @syropian If I were to put in a PR to display the last updated date of a repo, would you consider merging it in?

[2021-01-09 23:00] syropian commented on #132
@tomershvueli For sure, I'll take a look when it's ready!

[2021-01-10 18:47] tomershvueli commented on #132
@syropian check out PR #332, notes welcome.

[2021-01-22 02:47] tomershvueli commented on #132
So with #332 and #333 the Updated Date is now in the list and in the repo details. Sorting doesn't exist yet.

[2021-01-27 14:11] Romainpetit commented on #132
Great job @tomershvueli 🙏 !

[2021-01-27 14:11] #132 closed

[2021-02-14 14:49] tomershvueli opened #336 "[Self Hosted Deploy] Cloudron.io App"
This isn't strictly an issue per se, and I'm happy to move this documentation somewhere else if it makes more sense, but I just wanted to inform the Astral App community that Astral has been packaged and deployed for [Cloudron](https://www.cloudron.io/index.html) (a self hosted platform with 1-click app installs, [obligatory referral link](https://cloudron.io/?refcode=3cdd3151023268c0)) on the [Cl

[2021-02-15 20:48] syropian commented on #336
Thanks @tomershvueli ! I'll get this added to the readme soon 👍🏻

[2021-02-26 16:32] syropian commented on #336
Added! I'll probably refine the "Deploying" section at another date, but the link is there.

[2021-02-26 16:32] #336 closed

[2021-03-04 22:46] aminya opened #338 "Bulk tag editing"
It would be nice to have a button to select all or multiple repositories and tag them accordingly.

For example, searching for 'atom', and then selecting all the appeared repos and tagging them as `atom`.

[2021-03-04 22:47] aminya commented on #54
Many GitHub repositories already have tags, it would be nice to suggest those in the suggestion list.

![image](https://user-images.githubusercontent.com/16418197/110041040-4d4cf980-7d09-11eb-964b-bf767034168c.png)

[2021-03-22 09:30] Zodarr commented on #338
I second this. You can select multiple with CTRL+click or SHIFT+click, but cannot do anything with them. As a relative new user to the app, this would help mainly for the initaial tagging of projects, since I have some 470+ starred projects (and growing, as I find more awesome open source software).

[2021-03-22 15:27] syropian commented on #338
You should be able to drag multiple starred items onto a single tag, but yes multi-tagging could definitely still be improved!

[2021-03-23 10:01] Zodarr commented on #338
I didn't know You could drag&drop to existing tags, thank You. It would be nice though, that when I want to create a new tag with single/multiple selected (and drag&drop), I could drag it to "Add a tag...", and it would pop up a dialog, then create and assign the new tag to the selected projects).
Regarding the possibility of thousands of writes to the DB, I think the concern is somewhat valid. Co

[2021-03-23 13:10] syropian commented on #338
@Zodarr Yup, there's definitely ways to circumvent mass writes, it just comes down to what solution feels good in the context of the UI.

Will definitely give this some thought, and I should be able to start on it once I knock out a couple more important things I've been meaning to do, notably a bunch of dependency upgrades, and cache overflow issues for people with huge amounts of stars.

[2021-03-23 13:22] aminya commented on #338
For me, a `Select all checkmark` will go a long way.

Possibly adding an `Edit Tag` button to edit the tag for all the selected entries would be useful.

![image](https://user-images.githubusercontent.com/16418197/112153105-f40e1280-8bb0-11eb-9e43-a78a359a6077.png)

[2021-03-23 13:26] syropian commented on #338
@aminya Like I said, that functionality isn't difficult, but a bit dangerous without further considerations — there are people that have 6,000+ stars, and this wouldn't prevent someone from mass-tagging that many stars at once which could could some serious strain on the DB.

[2021-03-25 08:32] appinteractive commented on #326
Hey how is it going? I desperately in need for that on mobile too! Did anything happened in that regard? 🤞

[2021-03-25 13:10] syropian commented on #326
Nothing has happened yet, but it's on my radar. I have a bunch of UI stuff I need to overhaul so I might include making the UI responsive as part of the work. Unfortunately I can't give you any timing details yet, sorry!

[2021-05-11 07:48] phith0n opened #344 "Show repository number in smart filters list"
Sometime I want to see how many repositories in my custom filter.

![image](https://user-images.githubusercontent.com/5711185/117778485-3e864400-b270-11eb-86ea-fb35f10a9946.png)

[2021-06-06 13:06] JackofSpades707 opened #348 "Dark Mode [Feature]"
I'd love to see a dark mode setting implemented for this :)

[2021-06-06 19:30] syropian commented on #348
Hi there!

Dark mode support is planned for the next major version outlined in this discussion post — https://github.com/astralapp/astral/discussions/340

[2021-06-07 00:56] JackofSpades707 commented on #348
Awesome! Thank you :)

[2021-06-07 00:56] #348 closed

[2021-07-18 15:58] StevenLiSiwei commented on #291
you can use nativefier

[2021-09-06 09:59] AndreaPi opened #356 "When you try to add an already existing tag, Astral takes you back to sign in"
Hi,

first of all, thanks a lot for the amazing tool! It's great to find my way across the many repositories I starred. So, here is the issue description and procedure to reproduce it:

1. [sign in to Astral](https://app.astralapp.com/auth)
2. try adding a tag which already exists in your tag list
3. The app takes you back to the sign in page

I was taken back to login a few times before I realize

[2021-10-18 19:16] runofthemill opened #358 "Can't fetch stars"
Logged in to Astral, and it wouldn't load any repos:

![Screen Shot 2021-10-18 at 12 14 50 PM](https://user-images.githubusercontent.com/8418440/137792736-1e8ab483-2a4d-417e-b9c3-c248ee7a4cf6.png)

I tried logging out and in again, as well as revoking access from the Settings modal, but no dice. Maybe something changed w/ GitHub's API?

[2021-10-22 01:41] jimjam-slam opened #359 "Include repo title and/or url in exported JSON"
I love using Astral to tag my stars! I'm also really keen on exporting my data and using it to build some maps and charts, but I'm having trouble identifying the packages. I can see my tags are in the exported JSON, but repos are only identified by an ID (either the `id` field or the `repo_id` field—I'm not sure which is an internal identifier and which is GitHub's).

I understand the repo urls an

[2021-10-24 01:04] jimjam-slam commented on #359
Absolutely no rush; this is definitely a nice to have rather than a requirement!

Congratulations! Enjoy the time with your family—open source can wait 😉

[2021-11-16 04:08] backcover7 opened #360 "Unexpected hyperlink in README.md preview"
Some git repo will insert an internal hyperlink that points to a file of the repo. For example. [somefile](/somefile)
But astral concatenate the internal hyperlink as a URL path with the domain name of astralapp.

You can try to add links like the following into the README.md.
[export](/api/stars/export) <br>
[signout](/auth/signout) <br>
[revoke](/api/auth/revoke) <br>

Then click the link in the

[2021-11-22 04:32] Alpaca02 opened #361 "[Feature idea] Add a personal summary to the content block"
It's nice to see such a good github-star management tool. I found a few things that could be optimized.

Description of repository not always can help visitor to understand what is it. Especially for visitors from non-English speaking countries.But they can use personal notes to improve the efficiency of information retrieval.

It would be even better if the user could choose whether to display th

[2021-11-28 20:39] TechWatching opened #362 "Smart filters do not correctly filter my starred repositories"
When I build a smart filter where I want to get all repositories with 2 tags, I have incorrect results.

![image](https://user-images.githubusercontent.com/15186176/143784397-0bd7b781-57fd-481b-998d-27e24e08e63d.png)

This smart filter returns some repositories with only one of the tags and some without any tag.

I think the problem is in the [predicate.js](https://github.com/astralapp/astral/blob

[2021-12-10 16:59] dgva commented on #258
From what I understand, it only exports tagged stars.

[2021-12-11 05:23] xianshenglu opened #363 "Github has supported tags for stars"
As the picture,

![image](https://user-images.githubusercontent.com/23273077/145665117-cead3c80-01bd-486f-a021-43a70a32ecc5.png)

what do you think?

[2021-12-30 01:25] TBXark commented on #363
但是这个功能UI特别难用，希望这个项目能够直接接入Github的API

[2022-01-01 18:52] kakawait opened #364 "Hosted version throw 404 github page"
I've tried the free hosted version but after login to GitHub I'm redirected to https://github.com/login/oauth/authorize which is a 404 page

![Screenshot_20220101-195239.jpg](https://user-images.githubusercontent.com/275609/147857982-dc32a7b8-8933-431f-84f4-af9d0a79d6d5.jpg)

[2022-01-01 19:23] syropian commented on #364
Hm that seems unusual. I just tried logging in and it worked fine, however it _could_ be an issue with account creation but I'm seeing lots of successful sign ups and no other reports of issues.

[2022-01-01 19:38] kakawait commented on #364
I'll try on desktop. Maybe is due to my mobile setup which unusual (android + firefox mobile). I'll keep you in touch.

[2022-01-01 19:46] kakawait commented on #364
I confirm on desktop (Linux + firefox) no issue... And now since my account is created on Astral side I've no more issue on my mobile device.
I think can be close if I'm only people reporting that issue

[2022-01-01 20:07] #364 closed

[2022-01-02 08:55] cherryblossom000 commented on #363
Github only lets you create up to 16 lists, which is a huge limitation preventing me from using it in favour of Astral.

[2022-01-15 20:25] #356 closed

[2022-01-18 21:49] #362 closed

[2022-01-19 14:03] #289 closed

[2022-02-01 19:46] obvionaoe opened #371 "Which environment vars are needed?"
So, I'm trying to create a Docker image using only php-fpm but I'm not sure what variables are needed for specific cases.

Could you add documentation regarding the environment variables and how they're loaded into the app?

Like for when you use SQLite is DB_PORT also needed?

Thanks

[2022-02-01 20:24] syropian commented on #371
@obvionaoe Everything except `GITHUB_CLIENT_ID`, `GITHUB_CLIENT_SECRET`, and `GITHUB_CLIENT_CALLBACK_URL` are default Laravel env vars — fill them out if you need them, otherwise leave them blank. In your instance, you shouldn't need a port for SQLite so you can leave it blank

[2022-02-01 21:29] obvionaoe commented on #371
Ok, thanks!

[2022-02-01 21:29] #371 closed

[2022-02-11 03:11] gongkui opened #372 "Need nested Tags"
If I add too much tags then it takes some effort to find the tag I want. Can tags nested with different category so it's easier to find the wanted?

[2022-02-11 03:15] gongkui opened #373 "Want export and import configuration"
Currently I use app.astralapp.com to manage stars. If I want to setup a local one, do I have to tag repositories manually? If so, export and import function is needed for users.

[2022-02-16 02:43] iqlal opened #375 "where notes data are stored ???"
In Astral there is note feature, my question is **where notes data are stored ???**

[2022-02-16 12:39] syropian commented on #375
In the database, on the stars table.

[2022-02-16 15:09] #375 closed

[2022-02-16 21:47] iqlal commented on #375
i see, thanks

[2022-04-30 17:19] rcherny commented on #363
I guess I wouldn’t see it as an alternative, but something to augment or complement organizing things. Any idea if they added API support? Glancing I didn’t see, but I confess I didn’t spend a lot of time looking. Just curious what the odds of adding support to Astral might be?

[2022-04-30 17:28] syropian commented on #363
Last I checked there is no official API support for lists yet, but once there is you can count on it getting integrated into Astral 👍

[2022-05-01 03:10] xianshenglu commented on #363
It seems that the limitation has been removed.

[2022-05-28 02:18] cherryblossom000 commented on #363
There seems to be a 32 list limitation on GitHub.

[2022-06-28 15:07] nclv opened #390 "Memory leak"
I encountered a possible memory leak when selecting the last item in one of my tag list.
The webpage stop responding and my browser (firefox) process memory consumption doesn't stop increasing.
![image](https://user-images.githubusercontent.com/17963229/176213398-c31935a8-6150-4c4d-a1dd-71b850e2af17.png)

[2022-10-05 20:30] Clone99t commented on #390
I can confirm that this also happens on my end.